[2022-03-31 14:14] nachtmaar opened #13795 "Enable code sharing between eventing components"
**Description**

Eventing consists of several components (eventing-publisher proxy and eventing-controller. In order to **avoid code duplication** and **enable code re-usage** we need to agree on a way how we can re-usage code among multiple components.

**Possible code for sharing**
- [CloudEventBuilder](https://github.com/kyma-project/kyma/blob/main/components/event-publisher-proxy/testing/fixtu

[2022-03-31 14:14] k15r opened #13796 "Event type specified in published event"
As a user of kyma eventing, I find it very confusing that some fields of my event type get modified during dispatching, or even get removed / merged with other fields.
What i really want is to be able to dispatch an event specifying only the following fields:
`businessobject.operation.version`

Kyma eventing shall then take care of enriching the event type with all additionally required informatio

[2022-03-31 14:17] k15r opened #13797 "Subscribing to events"
As a user of kyma eventing i want to be able to subscribe to events by specifying only the information i really want to filter events by.

For me this means:
* an event sent by a connected application can be specified in a filter by specifying:
	* the application it was initially sent from
	* the `businessobject.operation.version` contained in my original event
* an event sent from within the clus

[2022-03-31 14:21] k15r opened #13798 "Multiple active backends"
As a user of eventing
I want to be able to have multiple backends active in my cluster.

This will allow me to publish internal only events to a cluster internal backend (events will not leave my cluster) and still be able to subscribe to events delivered directly to a cluster external backend (eg. EventMesh).

Publishing and subscribing should be able to fulfil these requirements:

Subscribing:
-

[2022-03-31 14:36] k15r opened #13799 "Logging in eventing components"
As a user of kyma eventing I want to be able to easily understand logs created during publishing / subscribing / dispatching of my events. The current situation requires internal knowledge about how events are renamed. I want to be able to understand those logs without having to know that internal knowlege.

Acceptance:
- [ ] logs created during working with events shall contain the initially sent

[2022-03-31 14:38] k15r opened #13800 "Switching Eventing Backends"
As an admin for kyma eventing I want an easier / more kubernetes like setup process for my eventing backend. At the moment i have to label a secret to switch the backend to EventMesh. The result of this switching process can be seen in an otherwise unused eventingbackend CR. I want to use this CR to specify all configuration for my selected backend.

For EventMesh this means i want to specify the

[2022-03-31 18:03] nachtmaar commented on #12847
@pxsalehi For AC 2:

This is documented here: https://github.com/kyma-project/kyma/blob/main/tests/fast-integration/eventing-test/README.md
Are you missing something where ?

[2022-03-31 18:12] nachtmaar commented on #11988
This is how you can pause a subscription:

[code]

[2022-03-31 19:29] johgoe opened #13802 "Istio 1.12.5 Patch Release for Kyma 2.1.1"
Kyma 2.1.x has not the latest security release of istio.

It's still on 1.12.3 (since 10.02.2022)

Current release for 1.12.x is already from 09.03.2022

https://istio.io/latest/news/releases/1.12.x/announcing-1.12.5/

[2022-04-01 06:54] #13546 closed

[2022-04-01 08:26] #13544 closed

[2022-04-01 08:27] koala7659 commented on #13563
We have agreement to solve #13718 first. Removing these unnecessary components and their testing jobs should improve results a lot.

[2022-04-01 08:36] #13784 closed

[2022-04-01 09:29] a-thaler opened #13806 "Upgrade Fluent Bit to 1.9.x"
**Description**
With fluentbit 1.9.x multiple issues got fixed related to chunks being not processed anymore, see also umbrella ticket https://github.com/fluent/fluent-bit/issues/3581#event-6321502417.
Furthermore performance improvements got realized.

Kyma should upgrade to the new release line and check if everything works as before:
- upgrade the image to latest version
- Check for no degraded

[2022-04-01 09:34] Disper commented on #13718
@janmedrek  What about the current registration flow in open source and security of receiving events? Does that mean that we will not secure the events endpoints that was previously secured via mTLS?

[2022-04-01 09:35] Disper commented on #13718
Work plan
Part 1 - (2)
Remove pipelines and sources (start with pipelines)
- [ ] Application Registry
- [ ] Connector Service
- [ ] Connection Token Handler

Part 2 - (5)
Modify Fast integration tests for the OS scenario. There is no need to modify CommerceMock.
- [ ] Remove certificate generation and api generation from the flow. Instead we create application CRD that contains APIs so Central App

[2022-04-01 09:38] majakurcius opened #13807 "Remove the Migration Guide for Kyma 2.1 from `main` after the release"
**Description**

Remove the Migration Guide 2.0->2.1 from `main` after the release of Kyma 2.1.

[2022-04-01 09:44] #13807 closed

[2022-04-01 12:50] werdes72 commented on #13556
Tutorial is ready: https://kyma-project.io/docs/kyma/main/03-tutorials/00-api-exposure/apix-04-expose-and-secure-workload-istio/

[2022-04-01 13:13] johgoe opened #13812 "Upgrade Kiali to 1.48.0"
In Kiali 1.48.0 is a fix that allows to avoid KIA0003 Errors with multiple RequestAuthentifications for a single API

(like explained https://kyma-project.io/docs/kyma/main/03-tutorials/00-api-exposure/apix-04-expose-and-secure-workload-istio/)

[2022-04-01 13:26] johgoe commented on #13812
Requires #13620 first. For istio 1.12.x the highest version of kiali is 1.44.0

[2022-04-01 14:10] a-thaler commented on #13294
Already covered via https://github.com/kyma-project/kyma/issues/13747

[2022-04-01 14:13] a-thaler opened #13818 "Upgrade prometheus to 2.33.x"
**Description**
update prometheus to latest version in order to have golang vulnerabilities avoided

Criteras:
- operator chart is upgraded
- prometheus-istio chart is upgraded
- latest prometheus image is used
- List all customizations in the chart and categorize as a comment in here (see also https://github.com/kyma-project/community/pull/659)
  - Per file short summary of customizations
  - Rel

[2022-04-01 14:21] #13290 closed

[2022-04-01 14:23] ptesny commented on #13168
FYI:
Hello, I have some spent time with the API rules secured with the JWT strategy.
I wrote these 2 blogs about it, namely:
https://blogs.sap.com/2021/11/22/hardening-access-to-sap-kyma-runtime-apis-with-jwt-tokens./
and
https://blogs.sap.com/2021/11/25/hardening-access-to-kyma-apis-with-a-self-made-jwt-token./

Let me know if the above material could be relevant for the developer tutorials you a

[2022-04-01 14:40] cnvergence commented on #11686
For duplicate certificate in the application-connector gateway, we won't push any changes
[code]
Please see the explanation [here](https://github.com/kyma-project/kyma/pull/11678#discussion_r691354677)

[2022-04-01 14:52] #13213 closed

[2022-04-01 14:56] skhalash commented on #13213
Implemented status conditions similar to standard Kubernetes resources (pods, replicasets, deployments, etc.).

[2022-04-01 16:55] a-thaler commented on #13194
With latest version of K3D and kyma I have not experienced that anymore

[2022-04-01 16:55] #13194 closed

[2022-04-01 17:13] a-thaler opened #13822 "Alert rules for limits on prometheus timeseries"
**Description**
As a result of https://github.com/kyma-project/kyma/issues/13269 there are documented limits for the prometheus setup in production profile.
In order to get warned pro-actively, the stack should bundle an alert rule for all the limits before they are reached to that users can react to it.

**Criterias**
- Have a new warning alert at least for production which will fire before the m

[2022-04-01 17:20] a-thaler opened #13823 "Switch envoy scrape config from endpoints to pod"
**Description**
Current scrape config for collecting the envoy metrics is based on service discovery via endpoints. With that it will collect endpoints only if they are reachable via a service. With that, pods having no service will not be collected, for example cronjobs. Goal is to collect metrics for all pods.

**Criterias**
- Switch to "pods" discovery, see https://prometheus.io/docs/prometheus

[2022-04-04 06:43] Sawthis commented on #13375
The job [kyma-alpha-integration-production-gardener-azure](https://status.build.kyma-project.io/?type=periodic&job=kyma-alpha-integration-production-gardener-azure) is green since Apr 02 10:05:40. @a-thaler @dennis-ge please reopen the issue if needed.

[2022-04-04 07:06] Sawthis commented on #13760
Last twelve runs are red.

[2022-04-04 07:21] mfaizanse commented on #13742
/assign mfaizanse

[2022-04-04 07:23] #13635 closed

[2022-04-04 07:24] #13423 closed

[2022-04-04 07:46] mfaizanse opened #13825 "Use a hard-coded prefix for JetStream subject filter prefix"
The current solution with JetStream subject filter prefix is:

**Case 1: Non-empty prefix**
- Event Type Prefix: "pre.custom.kyma"
- JS Stream Subject Filter: "pre.custom.kyma.>"
- Event Type in kyma Subscription: "pre.custom.kyma.x.y.z"

- **Note**: No need to append anything to the subject when creating subscription on JetStream server.
or when publishing events in EPP.

**Case 2: Empty prefix**

[2022-04-04 07:51] k15r commented on #13825
/help

[2022-04-04 07:52] k15r commented on #13825
/remove-help

[2022-04-04 08:04] janmedrek commented on #13718
**Part 5 - provide a clear description of OS alternatives**
- Prepare a blog post containing:
  - a way to expose internal eventing
  - a guide on how to prepare Application CR for external systems (i.e. C4C/CC)
  - kyma + compass integration guide (?)

[2022-04-04 08:33] janmedrek commented on #13718
Regarding that:
If we want to preserve the flow then we also need to find a way to send an event to Kyma, without modifying the Commerce Mock it won't be possible, right? The other option would be to send an event manually to an exposed API Rule, but what is the point of using the Commerce Mock in this case then?

The easier solution would be to cover it with the Compass Scenario, as it tests the

[2022-04-04 09:17] kwiatekus commented on #13760
Its related to CommerceMock scenario and it's fixture
https://github.com/kyma-project/kyma/issues/13563#issuecomment-1085597552

[2022-04-04 09:31] kwiatekus opened #13828 "Improve Usability of Function CRD"
**Description**

Provide a stable version of Function CRD incorporating the sub-type division between the inline and git-sourced types

**AC**
 - [x] Clean up spec fields that are spread on the root level (i.e source related) - [branch](https://github.com/m00g3n/kyma/tree/fn-crd-refactor)
 - [x] Clean up scaling related fields (and support scale subresource to make Function scalable by any scaler)

[2022-04-04 09:35] k15r opened #13829 "Required job to verify changes related to tracing / monitoring in eventing context"
As a developer of the eventing components i want to be notified if changes done to components other than EPP and eventing controller break monitoring or tracing.

The idea is to create a minimal eventing focused flavour of the fast integration test that just focuses on

- sending an event using the EPP to the NATS backend (for stability reasons)
- subscribing to such events and receiving them in a

[2022-04-04 10:57] #13218 closed

[2022-04-04 11:28] #13681 closed

[2022-04-04 12:39] strekm commented on #13792
test case:
1. create ns
2. deploy httpbin
3. expose with apirule of type allow (make sure this type includes ory oathkeeper)
4. call exposed svc

[2022-04-04 13:14] NHingerl commented on #12703
I think it has been (partly) done by someone from the BTP team now, see [Regions for the Kyma Environment](https://help.sap.com/products/BTP/65de2977205c403bbc107264b8eccf4b/557ec3adc3174ed4914ec9d6d13487cf.html?locale=en-US&version=Cloud).
Then again, it hasn't been done yet in [Available Plans](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/befe01d5d8864e59bf847fa5a5f3d669.html?l

[2022-04-04 13:36] chrkl commented on #13812
/area servicemesh

[2022-04-04 13:41] chrkl commented on #13079
/unstale

[2022-04-04 14:10] janmedrek commented on #13759
I like the concept of the separate Cluster/Kyma CRDs. We need to come up with a way to "tie" both of them, right now we are missing a link between Runtime and Cluster creation. Would the kyma-operator handle that, KEB, or should we introduce another component?

I would say that it's the component's responsibility to determine when to act. If we go with kyma-operator based workflow then in the end

[2022-04-04 14:24] pxsalehi commented on #13736
/assign

[2022-04-04 14:50] a-thaler opened #13831 "[Telemetry Operator] Factor out sync package"

[2022-04-04 14:59] a-thaler opened #13833 "[Configurable Logging] Performance analysis: filesystem buffer size"
**Description**
The default setup of fluent-bit needs to be tested against typical operational issues like availability, communication disruptions, scalability and so on. This ticket focusses on the specific aspect of the filesystem buffer size
That analysis needs to be documented and repeatable.

A reasonable buffer sizing should be defined by considering the following aspects:
- Since Fluent Bit

[2022-04-04 15:05] a-thaler opened #13834 "Convenient access to CRD status"
**Description**
After introducing a good and simple status to the LogPipeline CRD with https://github.com/kyma-project/kyma/issues/13213, it will be good to have a more convenient way to figure out the status. Currently, you need to describe a resource and need to think about the meaning of the array in the status.conditions. It will be better to have an aggregated status field or at least the sta

[2022-04-05 07:18] piotrmiskiewicz commented on #13759
Let's think about requirements, what we expect from high level (do not care if we are talking using k8s API and CRDs or GraphQL or REST API). Do we want KEB is doing one call for creating Kyma Runtime (with all necessary things or not). If yes, I can imagine "Runtime" CRD, which is the root. Then we have a runtime-operator, which creates proper "cluster" and "kyma" resources. I can also imagine th

[2022-04-05 07:38] cnvergence opened #13835 "pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener pipelines fails on Logging tests"
**Description**
Currently this [pipeline](https://status.build.kyma-project.io/?job=pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener) always fails on this issue

[code]
**Expected result**
Pipeline succeeds on upgrade tests

[2022-04-05 07:38] cnvergence commented on #13835
/label kind/failing-test

[2022-04-05 07:41] cnvergence commented on #13835
/kind failing-test

[2022-04-05 07:41] cnvergence commented on #13835
/kind bug

[2022-04-05 07:42] cnvergence commented on #13498
'm closing this one as there is another issue with this pipeline
https://github.com/kyma-project/kyma/issues/13835

[2022-04-05 07:43] cnvergence commented on #13498
/close

[2022-04-05 07:43] #13498 closed

[2022-04-05 07:44] cnvergence commented on #13835
/area logging

[2022-04-05 07:49] cnvergence commented on #13498
I'm closing this one as there is another issue with this pipeline
https://github.com/kyma-project/kyma/issues/13835

[2022-04-05 08:02] cnvergence commented on #11686
The same goes for the tracing-operator
[code]
Currently it is not possible to properly set those annotations

[2022-04-05 08:09] pbochynski commented on #13700
Any progress here? @lindnerby do you need some help?

[2022-04-05 08:11] a-thaler commented on #13835
In the logs I can see that the evaluation profile is used where no persistence is used at all for loki, that's why the test is failing.
Instead of making the test case aware of the profile, we should just execute the assertion only if a PVC is present. If a PVC is not present by mistake, the installation would already fail, so there is no need to assert that.

[2022-04-05 08:12] Disper commented on #13718
@kyma-project/framefrog could we remove/rewrite the tests so we will unblock the pipelines first?

[2022-04-05 08:55] chrkl opened #13836 "[telemetry-operator] Improve telemetry-operator Makefile"
**Description**

The developer experience should be improved by updating the Makefile and documentation.

**Criteria**
* The `run-local` target should allow the execute the local source of the operator and reconcile the cluster, reachable under the active kubeconfig file
  * Required arguments after adding the webhook are missing
* Ensure that `deploy-local` works after the webhook has been added.

[2022-04-05 08:56] chrkl commented on #13836
/area logging
/kind cleanup

[2022-04-05 09:21] FriedrichWilken commented on #13709
/assign

[2022-04-05 09:22] FriedrichWilken commented on #13709
/unassign

[2022-04-05 09:22] FriedrichWilken commented on #13709
/assign

[2022-04-05 09:25] FriedrichWilken opened #13838 "test ticket"
delete this

[2022-04-05 09:25] nachtmaar commented on #13838
/assign

[2022-04-05 09:26] nachtmaar commented on #13838
/reopen

[2022-04-05 09:26] FriedrichWilken commented on #13838
/unassign

[2022-04-05 09:26] nachtmaar commented on #13838
/meow

[2022-04-05 09:26] FriedrichWilken commented on #13838
/shrug

[2022-04-05 09:27] #13838 closed

[2022-04-05 09:31] skhalash commented on #13144
/assign

[2022-04-05 09:49] skhalash commented on #13835
/assign

[2022-04-05 10:00] pxsalehi opened #13842 "test"
**Description**

**Expected result**

**Actual result**

**Steps to reproduce**

**Troubleshooting**

[2022-04-05 10:01] pxsalehi commented on #13842
/area eventing

[2022-04-05 10:01] pxsalehi commented on #13842
/assign

[2022-04-05 10:01] pxsalehi commented on #13842
/project 17

[2022-04-05 10:04] pxsalehi commented on #13842
/project 3

[2022-04-05 10:04] pxsalehi commented on #13842
/projects 17

[2022-04-05 10:04] pxsalehi commented on #13842
/help

[2022-04-05 10:05] pxsalehi commented on #13842
/remove-help

[2022-04-05 10:05] pxsalehi commented on #13842
/close

[2022-04-05 10:05] #13842 closed

[2022-04-05 10:18] #13556 closed

[2022-04-05 10:50] PK85 commented on #13442
fixed by: https://github.com/kyma-project/kyma/pull/13518/files

[2022-04-05 10:50] #13442 closed

[2022-04-05 12:03] VladislavPaskar opened #13847 "Rename the EPP backend type label"
**Description**

As per https://github.com/kyma-project/kyma/pull/12706 we now label the event-publisher-proxy deployment with the  `"kyma-project.io/eventingBackend"` : `backendType`. A better and more consistent naming would be: `"eventing.kyma-project.io/eventing"` : `backendType`.

**Related Issue**
https://github.com/kyma-project/kyma/issues/12606

[2022-04-05 12:04] VladislavPaskar commented on #13847
/label area/eventing

[2022-04-05 12:25] raypinto commented on #11368
/label area/security

[2022-04-05 12:28] VladislavPaskar opened #13848 "Clean the compass resources created by pre-main-skr-eventing if it was interrupted"
**Description**

The skr eventing prowjob includes:
- the cluster provisioning
- registering a compass scenario
- assigning the prowjob's cluster runtime id to this compass scenario

To assure, that all the resources including compass will be deleted after the prowjob is executed there is a trapped cleanup: https://github.com/kyma-project/test-infra/blob/main/prow/scripts/cluster-integration/kyma-

[2022-04-05 12:31] k15r commented on #13847
i vote for:
`eventing.kyma-project.io/eventing:backend`

[2022-04-05 12:32] k15r commented on #13848
/label area/eventing

[2022-04-05 12:50] koala7659 commented on #13646
@dekiel Yes, please enable it for Dockerfile as well

[2022-04-05 14:42] k15r commented on #13847
/area eventing

[2022-04-05 14:42] k15r commented on #13847
/area eventing

[2022-04-05 16:38] jakobmoellersap commented on #13760
Multiple observed failures in test Fixture:
OIDC E2E Test Error from Runtime Status (401)
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-preview-integration-dev/1511191999837900800#1:build-log.txt%3A601-609

SKR Error with 401
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-preview-integration-dev/1511373195939155968

[2022-04-05 16:41] jakobmoellersap commented on #13835
@skhalash is this verfied to fix the issue?

[2022-04-05 16:48] jakobmoellersap commented on #13783
/assign @jakobmoellersap

[2022-04-05 16:55] jakobmoellersap opened #13855 "Unreliable Gardener Provisioning on existing Shoot in multiple Pipelines causes Test Failure"
**Description**

During various Pipelines we experience failure due to gardener provisioning having issues as they are reusing a gardener cluster id:

- kyma-upgrade-gardener-kyma2-to-main-reconciler-main: https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-to-main-reconciler-main/1511312796938145792#1:build-log.txt%3A28-30 (grd891vfn, timeout after 30m)
-

[2022-04-05 16:56] jakobmoellersap commented on #13855
/kind bug

[2022-04-05 16:56] jakobmoellersap commented on #13855
/kind failing-test

[2022-04-05 16:57] jakobmoellersap commented on #13855
/area cluster

[2022-04-05 18:39] #13224 closed

[2022-04-06 06:47] jakobmoellersap commented on #13835
After this was merged we face more issues related to the Fast Integration Test Suite and Prometheus: https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1519/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener/1511388569774592000#1:build-log.txt%3A466-552

[2022-04-06 06:55] jakobmoellersap opened #13857 "Flaky nightly-main-reconciler-publish-unstable-cli due to provisioning failure on cluster"
**Description**

I expect nightly-main-reconciler-publish-unstable-cli to be at most flaky during test execution, not while provisioning the clusters that have nothing to do with kyma but are just used for testing

**Expected result**

Pipelines should have retries while connecting into the k3d cluster and should follow the pattern:

- Check if cluster exists on VM, if yes, take config
- If cluste

[2022-04-06 06:55] jakobmoellersap commented on #13857
/kind failing-test

[2022-04-06 06:55] jakobmoellersap commented on #13857
/kind bug

[2022-04-06 06:55] jakobmoellersap commented on #13857
/area cluster

[2022-04-06 07:05] dariusztutaj commented on #13802
We're planning to update Istio to 1.13.x in Kyma 2.2.
[See also](https://github.com/kyma-project/kyma/issues/13620)

[2022-04-06 07:06] dariusztutaj commented on #13802
/close

[2022-04-06 07:06] #13802 closed

[2022-04-06 07:09] dariusztutaj commented on #13802
/label area/service-mesh

[2022-04-06 07:18] dariusztutaj commented on #13115
/reopen

[2022-04-06 07:19] dariusztutaj commented on #13115
/remove-lifecycle stale

[2022-04-06 07:22] dariusztutaj commented on #9936
/remove-lifecycle stale

[2022-04-06 07:25] skhalash commented on #13835
Logging tests are passing now https://status.build.kyma-project.io/?job=pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener

[2022-04-06 07:25] skhalash commented on #13835
/close

[2022-04-06 07:25] #13835 closed

[2022-04-06 07:40] koala7659 commented on #13718
**Part3 workplan**

- [ ] Remove connector-service, app-registry, connection-token-handler
- [ ] Remove cert setup jobs
- [ ] Adjust installation for connector gateway installation on SKR

[2022-04-06 08:19] jakobmoellersap opened #13860 "Flaky pre-main-control-plane-reconciler-e2e in FastIntegrationTests"
Description

I expect pre-main-control-plane-reconciler-e2e to be unflaky as it Executes on every reconciler image-bump pull-request on control-plane repository. That means by then we should be stable or we have issues in previous steps that are ignored. However, to stabilize the pipeline we have to have enough verbosity to find the root cause. Right now, when the cluster reconciliation succeeds b

[2022-04-06 08:20] jakobmoellersap commented on #13860
/kind bug
/kind failing-test

[2022-04-06 08:23] lindnerby commented on #13700
@pbochynski The current state is:
I have done some testing on a GCP VM created with the same image as prow jobs use [kyma-deps-image-v20220401-e03c21](https://console.cloud.google.com/compute/imagesDetail/projects/sap-kyma-prow-workloads/global/images/kyma-deps-image-v20220401-e03c21?orgonly=true&project=sap-kyma-prow-workloads&supportedpurview=organizationId) to create a similar scenario to tests

[2022-04-06 08:38] a-thaler commented on #13375
The solution is not enough, it is happen more frequent and just improving the error message is not sufficient.

Here just one evidence: https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1519/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener/1511388569774592000#1:build-log.txt%3A466-552

As a port forwarding connection can be e

[2022-04-06 08:39] a-thaler commented on #13835
@jakobmoellersap Your problem is not directly related and worked on in a different ticket, please subscribe to https://github.com/kyma-project/kyma/issues/13375

[2022-04-06 08:40] jakobmoellersap opened #13861 "pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener - Post-Reconciliation Error in FastIntegrationTests: Prometheus UI should be reachable"
Description

I expect pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener to be running fine after successful reconciliation and not produce errors in the Monitoring Stack

Expected result

Pipelines should include enough verbosity to have sufficient info for root cause analysis of pipeline failures

**Actual result**

https://status.build.kyma-project.io/view/gs/kyma-prow-logs

[2022-04-06 08:40] jakobmoellersap commented on #13861
/kind bug
/kind failing-test
/area monitoring

[2022-04-06 08:42] skhalash commented on #13375
/assign

[2022-04-06 08:42] skhalash commented on #13375
/retitle Monitoring test socket hangup

[2022-04-06 08:45] jakobmoellersap commented on #13861
Also spotted and managed in https://github.com/kyma-project/kyma/issues/13375

[2022-04-06 08:52] jakobmoellersap commented on #13375
Does this also affect pre-main-control-plane-reconciler-e2e-latest-release as can be seen in https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1519/pre-main-control-plane-reconciler-e2e-latest-release/1511267705750032384#1:build-log.txt%3A473-744 ? Or is this a different issue?

[2022-04-06 08:56] mfaizanse commented on #13742
Tracing seems to be working:

![image](https://user-images.githubusercontent.com/9897945/161936766-0166a49d-8da1-4026-b712-fa8e713c1714.png)

[2022-04-06 09:03] jakobmoellersap commented on #13860
/area eventing

[2022-04-06 09:03] strekm commented on #13168
https://kyma-project.io/docs/kyma/main/03-tutorials/00-api-exposure/apix-04-expose-and-secure-workload-jwt/

@ptesny thank you for your input. it was an interesting read ofc. is this available outside SAP also?

[2022-04-06 09:03] #13168 closed

[2022-04-06 09:12] jakobmoellersap opened #13862 "Flaky post-main-istio-reconciler-integration unreliable due to prerequisites like Cluster provisioning"
**Description**

The Post-Submit Job post-main-istio-reconciler-integration is sometimes flaky. This is caused by missing retry behavior in cluster provisioning, as well as installation and prerequisites in general. As the causes are different from time to time, I think the issue is related to general missing resilience in the called functions

**Expected result**

https://status.build.kyma-projec

[2022-04-06 09:12] jakobmoellersap commented on #13862
relates to https://github.com/kyma-project/kyma/issues/13855

[2022-04-06 09:13] jakobmoellersap commented on #13862
/area service-mesh

[2022-04-06 09:19] mvshao commented on #13718
### Part 1 workplan
**Remove pipelines:**
 - [ ] Application Registry
 - [ ] Connector Service
 - [ ] Connection Token Handler

 **Remove sources:**
 - [ ] Application Registry
 - [ ] Connector Service
 - [ ] Connection Token Handler

[2022-04-06 09:44] strekm commented on #13163
@SAP-Ayush do you have maybe Umbrella app running on your machine?

[2022-04-06 11:19] jakobmoellersap opened #13865 "Cluster Information in Pipeline Tests has to be preservable after Test Failures in FastIntegrationTests"
**Description**

When executing a reconciliation in the Pipeline which succeds but executes the FastIntegrationTests after this, it can happen that the tests fail without further context to rely on. This is problematic as we ideally want to be able to see what the cluster state was right when the test failure occured. For this reason we need to think of a way to either dump current cluster state i

[2022-04-06 11:19] jakobmoellersap commented on #13865
/kind bug
/kind failing-test
/area cluster

[2022-04-06 11:33] mvshao commented on #13718
/assignee

[2022-04-06 11:33] mvshao commented on #13718
/assigne

[2022-04-06 12:08] raypinto commented on #13860
/assign

[2022-04-06 12:16] mfaizanse commented on #13742
![image](https://user-images.githubusercontent.com/9897945/161972416-d6dd2bd3-69c2-480f-8264-02a70eddfb32.png)

--

![image](https://user-images.githubusercontent.com/9897945/161972492-afbff930-7d61-4c45-9a8c-27ba640f8e34.png)

[2022-04-06 12:49] jakobmoellersap commented on #13860
@raypinto please provide the build logs and not just the pasted errors? E.g. for the Reconciler ones, usually the error is appearing in a component reconciler and this error message is not showing the actual failure.

The cloning issue (if it is reoccuring) we should probably track in a separate issue.

this should be targeted by the retry in the cluster provisioning, maybe you can add more contex

[2022-04-06 13:01] raypinto commented on #13860
@jakobmoellersap  So in summary the main issues to tackle are:
- More detailed logs on the prow job: which component reconciler fails and why
- Further investigation into `VirtualService commerce-mock timeout`

[2022-04-06 13:07] mvshao commented on #13718
/assign mvshao

[2022-04-06 13:30] jakobmoellersap commented on #13860
First One I think we misunderstand: Im saying in the logs there are already information available, but you have to copy that log as well and not just look at the final timeout of the reconciler

The`VirtualService commerce-mock timeout` I agree, would be cool if you could tell me where this is best situated.

However there are also lots of other issues that you left out in your summary which also

[2022-04-06 19:53] SAP-Ayush commented on #13163
Yes. Umbrella Roaming Client app is running on my windows machine.

[2022-04-07 07:46] Maladie commented on #13553
/assign Maladie

[2022-04-07 08:05] pbochynski commented on #13700
Thanks for update. Failures from today:
- https://storage.googleapis.com/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/1511963341306728448/build-log.txt
- https://storage.googleapis.com/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/1511933142007549952/build-log.txt

[code]

[2022-04-07 08:36] kwiatekus opened #13872 "Flaky test case : "Getting Started Guide Tests""
**Description**

kyma-integration-k3d test sometimes fails with

[code]
I.e [here](https://storage.googleapis.com/kyma-prow-logs/logs/kyma-integration-k3d/1511842544034516992/build-log.txt)

**Troubleshooting**

Let's make sure that the redis storage instance is properly bound to the function. ( i.e via additional assertion )
The symptoms show that the order is not found after function pod restart

[2022-04-07 08:50] raypinto opened #13873 "Commerce Mock Tests timeout on multiple pipelines"
**Description**

The commerce mock tests, which are part of the fast integration tests time out multiple times on multiple pipelines, which seem to be one of the reasons for flakiness.

Some of the test runs can be found [here](https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1519/pre-main-control-plane-reconciler-e2e/1511086525536800768/build-log.txt) and [her

[2022-04-07 08:51] raypinto commented on #13873
/kind bug
/kind failing-test

[2022-04-07 08:55] FriedrichWilken commented on #13709
Here is [a PR](https://github.com/kyma-project/test-infra/pull/5238) to make the job required. Since the job is flaky at the moment, consider this issue and PR to be blocked.

[2022-04-07 08:56] raypinto opened #13874 "Getting Started Guide Tests fail with persistence issue"
**Description**

Some of the pipelines are flaky due to the failing `Getting Started Guide Tests` with the following error:
[code]

Some of the failing tests can be found [here](https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1521/pre-main-control-plane-reconciler-e2e/1511687021553258496/build-log.txt), [here](https://storage.googleapis.com/kyma-prow-logs/pr-l

[2022-04-07 08:57] raypinto commented on #13874
/kind bug
/kind failing-test

[2022-04-07 08:59] raypinto commented on #13855
There is also quota filled errors at times and the test fails with the following error message:
[code]

[2022-04-07 09:00] raypinto commented on #13860
After our discussion we concluded that:
- The main reason for flakiness comes from the Commerce mock tests timing out and I created [this](https://github.com/kyma-project/kyma/issues/13873) ticket for the same.
- Also created an issue for the `Getting Started Guides` test failing due to persistence issue [here](https://github.com/kyma-project/kyma/issues/13874).
- I have updated the [issue](https:

[2022-04-07 09:00] raypinto commented on #13860
/remove-area eventing

[2022-04-07 09:39] jakobmoellersap commented on #13860
Thanks for looking into everything and for the analysis. I will close the issue here as all follow-ups are created

[2022-04-07 09:39] #13860 closed

[2022-04-07 09:41] jakobmoellersap commented on #13873
@a-thaler could you help me identify who could work on this for making sure the CommerceMock is synced properly? @raypinto mentioned this is possibly related to the CommerceMock not being ready at the time the tests run, can you confirm this?

[2022-04-07 11:00] pbochynski commented on #13759
@piotrmiskiewicz I was thinking about having another CRD on top (Runtime) but then we have 3 levels of operators. The question is what would be in the spec of the runtime CRD. Lets take 2 use cases:
1. create Kyma Runtime with managed cluster in AWS, region us-east-1, multi-zone, machine type m5.xlarge, minimum worker pool size: 2, and with 3 kyma modules: eventing, istio, serverless
2. create Kym

[2022-04-07 11:52] werdes72 commented on #13791
/assign @werdes72

[2022-04-07 11:52] werdes72 commented on #13791
/unassign @strekm

[2022-04-07 12:57] a-thaler commented on #13375
As far as I understand the problem still exists for the logging test case, reopening the ticket

[2022-04-07 14:13] mfaizanse commented on #13742
Follow up: Check if we can somehow show actual consumer names.

[2022-04-07 14:33] skhalash opened #13882 "[Telemetry Operator] Files can breaks pipeline isolation and lead to missing file content"
**Description**

Adding and removing a pipeline which is sharing the same name of a file as an existing pipeline, should not bring the Fluent Bit in an error situation. Currently, it is not the case. Say, we add a `loki` pipeline, then add a `mockserver` pipeline and delete the `mockserver` pipeline. Both pipelines define a file named "labelmap.json".

**Expected result**

The `mockserver` pipelin

[2022-04-07 14:47] skhalash commented on #13882
/area bug

[2022-04-07 14:48] skhalash commented on #13882
/kind bug

[2022-04-07 14:48] skhalash commented on #13882
/area logging

[2022-04-07 14:54] rakesh-garimella commented on #13882
The problem here we are using the same file name `LabelMapPath       /files/labelmap.json`  for both the log pipelines. We should probably have some checks for such cases (as user might reuse our example or may be have same file names).Also as a side thought may be it makes sense to have some "reserved keywords" when used the user gets a feedback immediately (eg. Not to use same filename)

[2022-04-08 07:32] piotrkpc commented on #13862
/assign piotrkpc

[2022-04-08 07:40] k15r commented on #13777
Both profiles (evaluation|production) will use file as their stream storage. So at least on a managed cluster there will be no switch from `memory` to `file` or `file` to `memory`. Closing this ticket for now. If requirements change, we will recreate it if the issue still exists.

[2022-04-08 07:50] wozniakjan commented on #13422
@PK85, here are some statistics from an idle freshly provisioned cluster
[code]

[code]

[code]

we also set some requests and limits on these
[code]

[2022-04-08 07:57] koala7659 commented on #13718
@mvshao Please remember we are removing  also connectivity validator in KymaOS scenario, please refer to the diagram in the issue for details

[2022-04-08 08:03] kwiatekus commented on #13874
@raypinto yes, lets track it there.

[2022-04-08 08:03] #13874 closed

[2022-04-08 08:05] kwiatekus commented on #13872
Some of the failing tests can be found [here](https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1521/pre-main-control-plane-reconciler-e2e/1511687021553258496/build-log.txt), [here](https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1477/pre-main-control-plane-reconciler-e2e/1509153873531506688/build-log.txt
), [here](https://s

[2022-04-08 08:12] #13127 closed

[2022-04-08 08:23] k15r opened #13886 "Create automation to add tickets to project boards"
**Description**

According to [GH Blog](https://github.blog/changelog/2022-04-07-the-new-github-issues-april-7th-update/) the way to add issues/PRs automatically to a project board is to use a provided github action: [GH Marketplace](https://github.com/marketplace/actions/add-to-github-projects-beta).
This action would need a technical user account to be able to modify those boards.

could you ple

[2022-04-08 08:31] k15r commented on #13737
not needed

[2022-04-08 08:31] #13737 closed

[2022-04-08 08:40] k15r commented on #13733
Ticket obsolete

[2022-04-08 08:40] #13733 closed

[2022-04-08 08:50] pxsalehi commented on #13736
I can't figure out how to check the first checkmark! But 'NATS vs JS memory' is done!

[2022-04-08 08:50] pxsalehi commented on #13736
/unassign

[2022-04-08 08:55] raypinto commented on #13736
/assign

[2022-04-08 08:56] pbochynski commented on #13759
The "tie" would be done by reference to the kubeconfig secret (name). KEB would create both resources Cluster and Kyma that would refer to the same kubeconfig name. For the BYOC model KEB would create Kyma and kubeconfig secret directly.

Kyma operator was not meant to manage sequence. It is more meta-operator. Kyma-operator will be responsible for installing CRD for selected components and creati

[2022-04-08 13:19] nachtmaar commented on #13798
We had an initial discussion on the topic and will create further tickets soon.

[2022-04-08 15:25] jakobmoellersap commented on #13700
Since the CoreDNS patching occurs not only in kyma-integration-k3d-compass-dev but also other pipelines, I want to also of the other failures underlying the importance:
- nightly-main-reconciler-publish-unstable-cli  https://github.com/kyma-project/kyma/issues/13857 (https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/nightly-main-reconciler-publish-unstable-cli/1510882532067905536#1:

[2022-04-08 15:29] jakobmoellersap commented on #13563
Other Test Fixture Issue (most likely same root cause) tracked in https://github.com/kyma-project/kyma/issues/13873 showing that it also affects `pre-main-control-plane-reconciler-e2e`

[2022-04-08 15:34] jakobmoellersap commented on #13865
/kind improvement

[2022-04-08 15:43] jakobmoellersap commented on #13855
Timeout happens in `pre-main-control-plane-reconciler-e2e-latest-release` regularly as can be seen in https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1550/pre-main-control-plane-reconciler-e2e-latest-release/1512453812286132224/build-log.txt

[2022-04-08 15:48] jakobmoellersap commented on #13855
Additionally sometimes, the Cluster Nodes are not allowed to be read through API : https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1551/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener/1512436161417580544

[2022-04-08 15:51] jakobmoellersap commented on #13855
Additionally there can be failures when reaching out to the gardener API for requesting a shoot: https://storage.googleapis.com/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-to-main-reconciler-main/1512369758589161472/build-log.txt

[2022-04-08 15:53] jakobmoellersap commented on #13761
@Tomasz-Smelcerz-SAP Closing since Job has stabilized after updates of the kyma pipeline scripts for migration

[2022-04-08 15:53] jakobmoellersap commented on #13761
/close

[2022-04-08 15:53] #13761 closed

[2022-04-09 13:34] #13132 closed

[2022-04-11 01:31] tillknuesting commented on #13415
My suggestion for migration to new skr test  would be to change target in makefile to new folder after merge:

https://github.com/kyma-project/kyma/blob/58802dcb8f4c8229fc7f3f68d50e9fe2a9df6b09/tests/fast-integration/Makefile#L24

[2022-04-11 01:33] tillknuesting commented on #13415
Currently the pipleine fails cause of audit event check:

[code]
This happens because no value is returned by Prometheus https://github.com/kyma-project/kyma/blob/58802dcb8f4c8229fc7f3f68d50e9fe2a9df6b09/tests/fast-integration/audit-log/helpers.js#L57

[2022-04-11 02:04] tillknuesting commented on #13415
commerceMockTest() has to be reviewed again on which parts are not needed anymore

[2022-04-11 07:06] mfaizanse commented on #13565
/assign

[2022-04-11 07:26] a-thaler commented on #11136
Test case got automated

[2022-04-11 07:26] #11136 closed

[2022-04-11 07:28] dariusztutaj commented on #13618
/assign @dariusztutaj

[2022-04-11 07:35] dbadura commented on #13698
/assign  @dbadura

[2022-04-11 07:35] dbadura commented on #13698
/assign @dbadura

[2022-04-11 07:36] dbadura commented on #13698
/assign

[2022-04-11 07:42] Maladie commented on #13553
/assign franpog859

[2022-04-11 08:15] PK85 commented on #13415
When tests will be finished and we will see green runs, then to adjust all pipelines it's worth to just change content of the skr-tests directory with content from skr-test-without-sc.

[2022-04-11 08:40] chrkl commented on #13836
/assign

[2022-04-11 09:22] tgorgol commented on #13698
/assign @m00g3n

[2022-04-11 09:28] mfaizanse commented on #13565
/unassign

[2022-04-11 09:31] cnvergence commented on #13792
/assign cnvergence

[2022-04-11 09:31] cnvergence commented on #13792
/unassign strekm

[2022-04-11 09:33] tgorgol commented on #13698
/assign @tgorgol

[2022-04-11 09:36] tgorgol commented on #13698
/assign @kfurgol

[2022-04-11 09:53] #13646 closed

[2022-04-11 10:43] mfaizanse commented on #13266
/remove-lifecycle stale

[2022-04-11 10:44] mfaizanse commented on #13266
/reopen

[2022-04-11 11:47] janmedrek commented on #12844
Before merging - please test the Rafterless cluster with external solutions that integrate with Kyma (i.e. C4C/CC). We need to make sure that this change does not impair the regular flow of those integrations.

[2022-04-11 11:50] janmedrek commented on #12844
So all that is left is resolving the conflict, provisioning a new cluster, and running the tests. As simple as that. 🙂

[2022-04-11 12:00] mfaizanse commented on #13568
PR: https://github.com/kyma-project/kyma/pull/13949

[2022-04-11 12:30] tobiscr commented on #13855
Relates to https://github.com/kyma-project/test-infra/issues/5229

[2022-04-12 07:10] franpog859 commented on #13718
@janmedrek , the fast-integration open-source getting-started-guide flow looks as follows:
1. [It creates a microservice with some Redis, ApiRule, ServiceInstance, Binding, and a BindingUsage](https://github.com/kyma-project/kyma/blob/main/tests/fast-integration/test/fixtures/getting-started-guide/index.js#L121-L135)
1. Calls directly the microservice via the VirtualService to [add something to th

[2022-04-12 07:16] adityabhatia opened #13959 "SKR integration tests fail - multiple reasons on kyma-preview-integration-dev pipeline"
**Description**

SKR fast-integration tests are failing due to multiple reasons on kyma-preview-integration-dev pipeline

**Expected result**

No failures

**Actual result**

Tests are flaky - as per the last 2 runs

**Steps to reproduce**

1. https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-preview-integration-dev/1513728710912512000#1:build-log.txt%3A261
2. https://status.bu

[2022-04-12 07:50] franpog859 commented on #13718
The test decision (12.04.2022): remove the Commerce Mock flow from the non-Compass pipeline and consider enhancing the SKR pipeline with the Eventing test

[2022-04-12 07:51] dbadura commented on #13698
/assign @kfurgol

[2022-04-12 07:59] chrkl opened #13961 "[Telemetry Operator] Detect naming collisions by validation webhook"
**Description**
Users can define LogPipeline elements like files or parsers under a user-given name that can be referenced in other parts of the LogPipeline. These LogPipeline elements are stored in a shared ConfigMap by the telemetry-operator. If LogPipelines use a name for their resources, which has already been created by another LogPipeline, the following behaviour can happen:

* Deleting a Lo

[2022-04-12 07:59] chrkl commented on #13961
/area logging

[2022-04-12 08:14] mfaizanse opened #13962 "Investigate how can we show better consumer names in NATS JetStream dashboard -TB 2 days"
**Description**

In the eventing-controller, we are using hash as the consumer names in JetStream. So when we show the consumers in the `NATS JetStream` dashboard, the consumers are also then shown with these hash as consumer names which is not much readable for users. Investigate how can we show better consumer names in NATS JetStream dashboard.

![image](https://user-images.githubusercontent.com

[2022-04-12 08:14] mfaizanse commented on #13962
/area eventing

[2022-04-12 08:34] raypinto commented on #11368
@k15r do we need to document this change?

[2022-04-12 09:41] mfaizanse commented on #13223
New Issue: https://github.com/kyma-project/kyma/issues/13962

[2022-04-12 13:16] #13742 closed

[2022-04-12 13:34] #13278 closed

[2022-04-12 13:34] #11322 closed

[2022-04-12 15:04] dennis-ge commented on #13104
/close

[2022-04-12 15:04] #13104 closed

[2022-04-12 17:40] marcobebway commented on #13739
Tasks:
- [x] test switching scenario (from BEB to JS and from JS to BEB) in the FI tests
- [x] Create a new Prow job.
- [x] Event-Mesh instance on Prow both should use different names when creating BEB webhooks to avoid collisions.
- [x] test server restart scenario (jetstream with file storage)

[2022-04-13 05:26] mjakobczyk commented on #13619
/assign @mjakobczyk

[2022-04-13 05:59] pbochynski opened #13968 "Kyma deploy command fails with `client_loop: send disconnect: Broken pipe`"
**Description**

[code]

Failed jobs from last 24 hours:
- https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/1514077267217616896
- https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/1514062167962292224
- https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/151

[2022-04-13 06:20] kwiatekus commented on #13363
Thank you.

[2022-04-13 06:20] #13363 closed

[2022-04-13 06:46] lindnerby commented on #13700
@jakobmoellersap The patched version got merged yesterday, let's observe jobs for today and see if we encounter job failures again caused by k3d:
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-integration-k3d
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev
https://status.build.kyma-project.io/job-history/gs/kyma

[2022-04-13 06:58] jakobmoellersap commented on #13968
Expectation would be to reconnect via ssh into the GCP VM if we loose connectivity (e.g. due to a hickup). Also we should wrap the error and exit gracefully if we cannot reestablish connectivity by giving a better error message like "Connection to VM was lost and could not be reestablished for executing test: Cause..."

[2022-04-13 07:15] tobiscr commented on #13265
@nachtmaar : is this issue still happening for you?

[2022-04-13 07:19] werdes72 commented on #13299
/unstale

[2022-04-13 07:46] werdes72 commented on #13299
/remove-lifecycle stale

[2022-04-13 07:46] werdes72 commented on #11731
/remove-lifecycle stale

[2022-04-13 07:46] werdes72 commented on #10322
/remove-lifecycle stale

[2022-04-13 07:46] werdes72 commented on #9940
/remove-lifecycle stale

[2022-04-13 07:47] werdes72 commented on #9183
/remove-lifecycle stale

[2022-04-13 07:47] werdes72 commented on #7902
/remove-lifecycle stale

[2022-04-13 07:54] nachtmaar commented on #13265
@tobiscr I did not use k3d for quite some time. So I cannot really tell.
Let's close the ticket until it happens again and if that is the case I will reopen the ticket.

At least there is a workaround (see issue description).

[2022-04-13 07:54] #13265 closed

[2022-04-13 08:11] jeremyharisch commented on #13163
As described in your issue, you are using CLI 2.0.2, which is already outdated. We had some known issues in CLI 2.0.2 and 2.0.4 regarding Windows. Some of my team and myself we tried to provision a k3d cluster and deploy latest Kyma using latest Kyma CLI on Windows (Powershell and WSL2) and it worked fine.

Could you please try it with the latest CLI version? And if it does not work, please run it

[2022-04-13 08:35] janmedrek opened #13970 "Application Gateway mTLS-OAuth flow"
**Description**

We need to provide support for mTLS-secured OAuth token fetch. Right now we handle the fetch with regular client credentials: Client ID and the Client Secret. In some cases instead of using string secret, the token fetch API is secured with mTLS traffic.

We could utilize Application CR to store information about such Auth:
[code]

And then in the secret (perhaps we should separat

[2022-04-13 08:37] PK85 commented on #13959
That was temporary issue with getting status from kcp CLI. Right now we have 6 green ones in a row.

[2022-04-13 08:37] #13959 closed

[2022-04-13 08:46] tobiscr commented on #13968
We will check if we can either execute the SSH call within a retry-loop and we will also check if it helps to adjust the SSH client settings (https://unix.stackexchange.com/questions/2010/what-does-the-broken-pipe-message-mean-in-an-ssh-session).

[2022-04-13 09:01] dariusztutaj commented on #13618
[code]

[2022-04-13 09:05] dariusztutaj commented on #13618
[code]

[2022-04-13 10:09] kwiatekus commented on #11701
@dekiel Should be possible with the new feature in serverless allowing you to override the function base image.
see an example that would suit your case [here](https://github.com/kwiatekus/kyma-serverless-runtime-override/blob/main/src/custom-runtime/config.yaml#L4) --> using example of  runtime image override from this [pr](https://github.com/kyma-project/examples/pull/198)

[2022-04-13 10:11] kwiatekus commented on #11701
Tutorials for this feature are on the way

[2022-04-13 10:28] tobiscr commented on #13968
Using a retry for the SSH call could be risky as we are not sure that the executed bash-script is behaving idempotent and allows multiple re-runs.

For now, we adjusted the ALIVE timeouts of SSH - hope this solves this instability: https://github.com/kyma-project/test-infra/pull/5272

[2022-04-13 11:43] NHingerl commented on #2101
/remove-lifecycle stale

[2022-04-13 11:43] NHingerl commented on #9368
/remove-lifecycle stale

[2022-04-13 11:43] NHingerl commented on #10044
/remove-lifecycle stale

[2022-04-13 11:44] NHingerl commented on #10458
/remove-lifecycle stale

[2022-04-13 13:57] mfaizanse commented on #12452
/assign

[2022-04-13 15:40] #12029 closed

[2022-04-14 05:45] dariusztutaj commented on #13618
Update status from main to PR:
[code]

[2022-04-14 05:46] dariusztutaj commented on #13618
- [x] istio running on 1.13.x version
  - [ ] sidecars running on 1.13.x version
  - [x] istioctl 1.13.x is used to install / upgrade istio
  - [x] istio and istio-resources charts updated
  - [ ] update grafana dashboards if needed
  - [ ] verify kiali features
  - [ ] verify trace propagation and trace data transport to jaeger
  - [ ] notify monitoring team to verify that metric cardinality has

[2022-04-14 05:53] dariusztutaj commented on #13618
[code]

[2022-04-14 05:56] dariusztutaj commented on #13618
[code]

[2022-04-14 07:20] FriedrichWilken opened #13976 "pre-main-kyma-skr-eventing is flaky"
The prow job [pre-main-kyma-skr-eventing](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-kyma-skr-eventing) is flaky. It sometimes [fails](https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/13975/pre-main-kyma-skr-eventing/1514250358489092096) with

[code]

[2022-04-14 07:24] FriedrichWilken commented on #13976
/area eventing

[2022-04-14 07:24] FriedrichWilken commented on #13976
/area test

[2022-04-14 07:31] chrkl commented on #12029
PR #13729 makes the following changes to address this:
* Add a LogPipeline with a Loki output to the logging chart and a Helm value to enable it
* The LogPipeline CRD is installed using the regular reconciling mechanism to avoid any dependencies between the logging and telemetry chart
* Fluent Bit settings in the telemetry chart have been aligned with the logging chart
* A ServiceMonitor for the t

[2022-04-14 08:35] FriedrichWilken commented on #13976
/assign

[2022-04-14 08:44] lindnerby commented on #13700
@pbochynski What was the frequency of cluster creation failures due to core-dns patch errors before? It seems that this particular issue is gone now.

[2022-04-14 08:55] kwiatekus commented on #13360
Let make it AC of #13545

[2022-04-14 08:59] kwiatekus commented on #13132
@k15r do you plan to do it in your team? If yes, please reopen
I would remove it from our project

[2022-04-14 08:59] janmedrek opened #13977 "Revisit Application Connector tests"
**Description**

We need to provide a clear suite of tests that will go through all the functionalities that Application Connector presents.
Right now we have multiple tests that run through the same scenario and test the same code.

The desired state would be to have:
- ~~a FIT scenario that goes through the whole flow available without Compass and testing available Application Gateway auth metho

[2022-04-14 09:00] janmedrek commented on #13338
will be handled by: https://github.com/kyma-project/kyma/issues/13977

[2022-04-14 09:00] #13338 closed

[2022-04-14 09:02] janmedrek commented on #11764
Will be covered in: https://github.com/kyma-project/kyma/issues/13977

[2022-04-14 09:02] #11764 closed

[2022-04-14 09:02] janmedrek commented on #11768
we are removing the functionality from Kyma: https://github.com/kyma-project/kyma/issues/13718

[2022-04-14 09:02] #11768 closed

[2022-04-14 09:16] FriedrichWilken commented on #13847
#13965

[2022-04-14 09:28] #13568 closed

[2022-04-14 09:30] Disper commented on #13977
[This testing strategy draft documentation](https://github.tools.sap/pandas/testing-strategy) might be somehow relevant.

[2022-04-14 09:35] janmedrek commented on #11870
Tackled in: https://github.com/kyma-project/kyma/issues/13977

[2022-04-14 09:35] #11870 closed

[2022-04-14 10:50] a-thaler commented on #9631
Test case got fully automated

[2022-04-14 10:50] #9631 closed

[2022-04-14 11:16] jakobmoellersap commented on #13862
Agreed to close as most issues resolve in #13700

[2022-04-14 11:16] #13862 closed

[2022-04-14 12:44] SAP-Ayush commented on #13163
Thanks for your help @jeremyharisch . Deployment was successful with Kyma CLI 2.0.4

[2022-04-14 12:45] #13163 closed

[2022-04-14 13:37] nachtmaar commented on #13241
/reopen

[2022-04-14 13:38] nachtmaar commented on #13219
/reopen

[2022-04-14 13:41] nachtmaar commented on #12474
/reopen

[2022-04-14 13:43] nachtmaar commented on #12341
/remove-lifecycle/stale

[2022-04-14 13:44] nachtmaar commented on #12341
/remove lifecycle/stale

[2022-04-14 13:44] nachtmaar commented on #12341
/lifecycle stale

[2022-04-14 13:45] nachtmaar commented on #12341
/remove-lifecycle stale

[2022-04-14 13:47] nachtmaar commented on #13278
@k15r is this still required ? If yes please reopen it.

[2022-04-14 13:48] nachtmaar commented on #12238
/remove-lifecycle stale

[2022-04-14 13:49] nachtmaar commented on #11322
/remove-lifecycle stale

[2022-04-14 13:50] nachtmaar commented on #10751
/remove-lifecycle stale
/reopen

[2022-04-14 13:51] nachtmaar commented on #13241
/remove-lifecycle stale

[2022-04-14 13:51] nachtmaar commented on #13219
/remove-lifecycle stale

[2022-04-14 14:17] jakobmoellersap commented on #13759
@pbochynski regarding external systems: Do these systems lie behind a VPN or what is the reason they cannot be reached from the customer cluster? Otherwise also a Proxy would be totally sufficient to reach them. Not saying we can't centralize these components, just to make sure we don't artificially limit ourselves here

[2022-04-14 15:19] kwiatekus opened #13982 "Several GIT functions referencing big repositories cause function controller crash"
**Description**

Function controller is reconciling git functions every 10 minutes. It checks if there are new changes in the repository.
In case git functions are referencing huge repos than all the repo content is fetched from scratch for every function every 10 minutes. This is additionally throttled by I/O and is causing serverless controller to crash

We should:
 - [x]  add it as an acceptanc

[2022-04-15 07:08] kwiatekus commented on #13125
We realised that it would be possible to employ a gitops operator ( flux ) to fetch git sources of functions.
However, it would impose collisions with gitops instances installed by the user.

We decided to refactor the Git-fetching logic and extract it to a separate controller.
That would give us possibilities to gain more control over the git fetching process.
This should be tracked here:
https:/

[2022-04-15 07:08] #13125 closed

[2022-04-15 07:36] pPrecel commented on #13600
/unassign @moelsayed

[2022-04-15 09:00] Tomasz-Smelcerz-SAP commented on #13759
@pbochynski I would like to better understand the sentence: "Component reconcilers should handle their dependencies "

- Is existence of a cluster a dependency? Should component reconciler perform checks like: "does the cluster exist already?"
- Consider a component operator, e.g: Ory. Should it check for pre-requisites like: "Is istio installed already?", "Is there a certificate in the cluster al

[2022-04-15 09:59] franpog859 commented on #12353
The `disableLegacyConnectivity` flag is not removed [in my PR](https://github.com/kyma-project/kyma/pull/13296/files), @janmedrek

[2022-04-15 10:01] PK85 commented on #13760
its is green 15+ times in a row, closing

[2022-04-15 10:01] #13760 closed

[2022-04-15 11:06] Cortey commented on #13982
/assign @Cortey

[2022-04-15 14:06] cnvergence commented on #11686
I have opened the issue in the jaeger-operator helm chart
https://github.com/jaegertracing/helm-charts/issues/355

[2022-04-15 14:20] majakurcius commented on #13718
So far we've supported registering APIs in Application Registry.
Do we not support it anymore or is there an alternative way for it?

Depending on the answer, either [this whole section in our documentation](https://kyma-project.io/docs/kyma/latest/01-overview/main-areas/application-connectivity/ac-01-application-connector/#supported-ap-is) must be removed, or just the [link](https://kyma-project.

[2022-04-15 14:30] majakurcius commented on #13718
TODO doc-wise:

- [ ] Remove all occurrences of `Application Registry` and `Connector Service` in the documentation on the Website
- [ ] Go through the documentation and remove the information that is no longer true after the removal
- [ ] Remove all occurrences of `Application Registry` and `Connector Service` in READMEs
- [ ] Update numbering in doc names
- [ ] Update links, if needed

[2022-04-15 15:09] cnvergence commented on #11686
Port issue can also be tracked here
- https://github.com/jaegertracing/helm-charts/issues/344

[2022-04-18 08:38] dapus123 commented on #9936
The apirule ability to have a failover service would be a good scenario in this particular issue, but it may be slightly different issue as well.
In our setup, we have apirule pointing to a single cache service, but what if cache service is down, I would go directly to service, in case we could configure apirule for that.
Thanks,
Daniel

[2022-04-19 06:36] wozniakjan commented on #13415
I think those are done in https://github.com/kyma-project/kyma/pull/13801, trying to get it reviewed

this should be reasonably simple but I guess we should do this after the test environment is configured to do so.

[code]

[2022-04-19 07:12] skhalash commented on #13144
/unassign

[2022-04-19 07:21] lindnerby commented on #13700
/close

[2022-04-19 07:21] #13700 closed

[2022-04-19 07:32] k15r commented on #13847
in hindsight it seems there was a mistake in my comment:
`eventing.kyma-project.io/backend:<backendType>` makes more sense, than mentioning eventing twice

that way you should be able to filter for all backends, and for specific backends per backendtype. please correct me if im wrong

[2022-04-19 07:41] tillknuesting commented on #13415
In the sprint review, it was discussed to introduce the possibility to configure the btp operator credentials via environment variables - after the task from this ticket are completed.

[2022-04-19 07:53] varbanv opened #13985 "Define process to provide consistent testing windows for new Kyma versions"
**Description**

Provide a way for customers to test and validate new Kyma versions before their managed production clusters are upgraded.

**Reasons**

Kyma version upgrades can introduce breaking changes for customer workloads. We extensively test the upgrades with our components but we do not have an official process on how to enable our customers to test their workloads with the new version.
C

[2022-04-19 07:58] VladislavPaskar commented on #13847
/assign

[2022-04-19 09:37] a-thaler commented on #13298
I will close the ticket for now. It turned out that the metrics based on logs are causing too much resource consumption in should be avoided in a bigger scale for now

[2022-04-19 09:37] #13298 closed

[2022-04-19 10:32] #13872 closed

[2022-04-19 11:05] Sawthis commented on #13985
Collect stage/dev global accounts from customers and perform upgrade together with kyma-integration upgrade. Provide one week window for customers tests.

[2022-04-19 11:22] lindnerby commented on #11825
Closing this, since we introduced the following changes:
* Reduce the number of make targets
* Introduce a linter
* Improve encapsulation of tests and commerce-mock
* Remove installer module
Still ideas to improve: utils.js is unmaintainable due to size, commerce-mock is too complex and should be rather separated for various scenarios.
For remaining improvements teams themself are responsible

[2022-04-19 11:23] lindnerby commented on #11825
/close

[2022-04-19 11:23] #11825 closed

[2022-04-19 13:18] #13555 closed

[2022-04-19 14:35] skhalash commented on #13806
/assign

[2022-04-19 14:35] skhalash commented on #13806
/retitle Upgrade Fluent Bit to 1.9.x

[2022-04-20 06:26] kwiatekus opened #14002 "Add missing transient conditions in function reconciliation loop"
**Description**

Fix function status handling (the `if length > 1` delete problem)  e.g. handling of transient resources when updating function
- [ ] [configmap](https://github.com/kyma-project/kyma/pull/13859/files#diff-a16c292e5a7ff9790097faf8d7158e7d65c7093e560175d266c0ef8aab693068R37)
- [ ] [deployment](https://github.com/kyma-project/kyma/pull/13859/files#diff-3e3e2a41a3b756083f170518f0eee961

[2022-04-20 06:45] franpog859 opened #14003 "Migrate fast-integration tests to the new Director API"
**Why to do**

Compass plan (info from 13.04.2022) to deprecate the old Director API (direct management of scenario labels and label definitions) but they can do that only if all of the clients are properly migrated to the new one

The deadline: Q2 or early Q3 (info from 27.04.2022)

**What to do**

Migrate [fast-integration tests](https://github.com/kyma-project/kyma/blob/main/tests/fast-integrat

[2022-04-20 06:57] kwiatekus opened #14004 "Refactor `systemState` type"
**Description**

SystemState ( `components/function-controller/internal/controllers/serverless/system_state.go` ) contains a variaty of complex conditionals determining the state of the functions.
 - Simplify the code ( apply De Morgan's laws, reorganise code )
 - Move parts that do not need state or do not compute state

[2022-04-20 07:01] kwiatekus opened #14005 "Fix linter errors in function-controller"
**Description**

There is plenty of linter errors after the last refactoring.
Please fix them

**Attachments**
https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/13859/pre-kyma-components-function-controller/1516364409700618240/build-log.txt

[2022-04-20 07:07] piotrkpc commented on #12337
/remove-lifecycle stale

[2022-04-20 07:08] piotrkpc commented on #9189
/remove-lifecycle stale

[2022-04-20 07:08] pbochynski commented on #12822
@Sawthis @arturskorupa Maybe you can take care of this ticket? @mareknawa probably forgot about it ;-)

[2022-04-20 07:08] piotrkpc commented on #6830
/remove-lifecycle stale

[2022-04-20 07:09] marcobebway commented on #13739
/close

[2022-04-20 07:09] #13739 closed

[2022-04-20 07:53] Disper commented on #13828
Work plan:
- [ ] generate the project
- [ ] put it into the repository
- [ ] adapt function controller to support watching
- [ ] create new reconciler to handle it
- [ ] add tests to cover scenarios

[2022-04-20 08:43] m00g3n commented on #14002
reference: https://maelvls.dev/kubernetes-conditions/

[2022-04-20 09:14] raypinto commented on #12711
/assign

[2022-04-20 10:19] NHingerl commented on #13723
Who can advise which Docker resources are required?

[2022-04-20 11:41] #13223 closed

[2022-04-20 13:24] lilitgh opened #14013 "Add Jetstream documentation"
## Description

Update documentation (how to enable it, feature comparison with non-jetstream NATS) and Expose/Document flag for early adopters.
Find all the places you need to update the documentation (check the tutorials).

[2022-04-20 13:51] #13982 closed

[2022-04-20 15:39] pbochynski commented on #13759
We do not have too many dependencies now and we aim to have even fewer dependencies. Right now we have just istio and certificates as prerequisite. And we should not treat any dependency as a hard dependency. If we don't have certificate it doesn't mean that api-gateway controller cannot be installed. Most of the controllers do not have even dependency to istio (and should be excluded from istio-m

[2022-04-20 15:51] pbochynski commented on #13759
I have 3 use cases right now:
- usage of powerful API to create tenants in external systems
- access to the cloud provider account to configure volume encryption (customer managed keys)
- access to gardener project to configure networking

More probably will come when we get external contributions.

[2022-04-20 18:33] VladislavPaskar commented on #12823
/remove-lifecycle stale

[2022-04-20 18:34] VladislavPaskar commented on #11659
/remove-lifecycle stale

[2022-04-20 18:35] VladislavPaskar commented on #12651
/remove-lifecycle stale

[2022-04-21 06:36] dariusztutaj commented on #13619
I also did some tests, eg.
Expose a workload
Expose and secure a workload with OAuth2
for both httpbin and function and everything is working fine

[2022-04-21 07:29] raypinto commented on #13962
/assign

[2022-04-21 07:56] mjakobczyk commented on #13619
We should rerun these tests after Istio chart PR being merged to main branch.

[2022-04-21 08:06] tillknuesting commented on #13415
remove usage of oidc: this.options.oidc0, for provisioning and replace oidc0 with config when used in test for comparison:

[2022-04-21 08:15] Sawthis commented on #13415
Please enable pre-main-kyma-integration-k3d-central-app-connectivity-compass after this issue will be fixed.
PR for disable the job: https://github.com/kyma-project/test-infra/pull/5304

[2022-04-21 08:44] #13563 closed

[2022-04-21 08:55] tobiscr commented on #13968
Issue happens again on 19th April

[2022-04-21 09:00] a-thaler commented on #13873
There is an assertion to assure that the commerce-mock deployment is running. That assertion was successful as it is called directly before the assertion about virtualservice.

The assertion about the virtualservice is checking that the virtualservice gets created and has a host assigned. The mock gets deployed using an apirule, maybe there was a problem with the api-gateway not generating the rel

[2022-04-21 09:01] tobiscr commented on #13968
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-integration-k3d-compass-dev/1516644262148575232

[2022-04-21 09:15] kwiatekus commented on #10887
It is true that default runtime images come with limited tooling - they are based on alpine distribution.
They are limited, but they are also secured and regularly maintained with regards to commonly known security findings.

With Kyma 2.2 we extended the definition of Function custom resource that allows to override base image of the serverless runtime with a custom docker image.

You may need th

[2022-04-21 09:15] #10887 closed

[2022-04-21 09:43] franpog859 commented on #13970
Notes from 21.04.2022:
- Implement it only in Central Application Gateway (no Registry, no Agent, no old Gateways)
- To test it create the Authorization Server + Commerce Mock in Kyma (for some support, you can call Goats/ Kiryl)

[2022-04-21 09:45] janmedrek commented on #13970
@franpog859 there is a possibility that we will get to test with the target system, let's see where it goes.

[2022-04-21 10:12] marcobebway opened #14021 "Remove Eventing component reconciler migration steps for Kyma 1.24.X"
**Description**

Remove Eventing component reconciler pre-action migration steps for Kyma 1.24.X here: https://github.com/kyma-incubator/reconciler/tree/main/pkg/reconciler/instances/eventing/preaction.

**Reasons**

- These steps are not required anymore since Kyma version **2.X.X** is released.
- This should be done before Kyma CLI upgrade their [helm](https://github.com/kyma-project/cli/blob/77

[2022-04-21 10:13] marcobebway commented on #14021
/add-label area/eventing

[2022-04-21 10:13] marcobebway commented on #14021
/label area/eventing

[2022-04-21 10:17] marcobebway commented on #14021
/project 17

[2022-04-21 10:20] marcobebway commented on #14021
/area eventing

[2022-04-21 10:22] marcobebway commented on #14021
/project :parachute: SkydivingTunas :fish:

[2022-04-21 10:23] marcobebway commented on #14021
/project SkydivingTunas

[2022-04-21 10:26] marcobebway commented on #14021
/project

[2022-04-21 10:30] marcobebway commented on #14021
/project 0.5.0

[2022-04-21 10:30] marcobebway commented on #14021
/project clear

[2022-04-21 11:11] lechnerc77 opened #14022 "Availability of Node.js16 and 18"
**Description**

When will Kyma Functions support Node.js 16 and 18 as current and future active LTS releases? Is there a strategy which node versions will be supported and in which periods they are updated like "support for the last two LTS releases"?

**Reasons**

No roadmap information available

**Attachments**

-

[2022-04-21 11:27] lechnerc77 opened #14023 "Sample Code of Kyma Functions"
**Description**

The current sample code when creating Kyma Functions is very slim and is even not creating output into the logs. For the both supported languages it would be nice to have at least a "Hello World" sample that logs to console and uses some input parameters.

It would make sense to:

- access the context
- log to the console
- return string

*Remark* The context parameter `function-n

[2022-04-21 11:58] ruanxin commented on #13968
Take into consider this issue: https://github.com/kyma-incubator/reconciler/issues/1042

[2022-04-21 12:09] marcobebway opened #14025 "Investigate failed helm client rendering for Eventing component reconciler"
### Description

This [PR](https://github.com/kyma-incubator/reconciler/pull/1041) is failing to reconciler Eventing component with the following error:

[code]

[2022-04-21 12:09] marcobebway commented on #14025
### Facts

- PR: https://github.com/kyma-incubator/reconciler/pull/1041
- Reconciler commit: `a0b3c2fa1f1df27bf7e4cf19c686bf63f6b86805`.
- CLI commit: `6a02b72797b4d27880176480fd866ebda13c264d`.

### Findings

Upgrading helm to **v3.8.2** in Kyma CLI causes some breaking changes while rendering Kyma **1.24.X** nats charts.

### Possible solutions

1. Remove nats migration code from the Eventing co

[2022-04-21 12:22] kwiatekus opened #14027 "Replace logging lib"
**Description**
In our current logger setup ( logr with zap) we are vulnerable to mistakes that cause controller to panic

Verify if we should replace it or introduce a wrapper on the existing logger

**Reason**
Current logger library can panic very easily because of wrong number of arguments.
It's very hard to catch such bug and to detect wrong initialisation during code review

**Attachments**
L

[2022-04-21 12:24] dbadura commented on #14027
Example panic log:
[code]

[2022-04-21 12:35] strekm commented on #11944
https://github.com/kyma-project/kyma/blob/release-1.24/resources/istio/files/istio-kyma-validate-test.sh

[2022-04-21 13:08] kwiatekus opened #14030 "Parallel reconciliation of functions"
**Description**

Allow for multiple workers (multiple go routines) of function controller

**Reason**
It is desired to scale the number of workers capable to reconcile functions.
It would boost performance whenever multiple functions are created/updated simultaneously (i.e via CI/CD push) and would shorten the start time of the whole application

[2022-04-21 16:14] adityabhatia commented on #13855
Two pipelines have been flaky recently, during Gardener shoot provisioning. The error seems to be due to an authorization (RBAC) issue. I am attaching some examples below:

https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-control-plane-reconciler-e2e-latest-release

https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre

[2022-04-21 16:25] VladislavPaskar commented on #13656
/assign

[2022-04-21 16:50] nachtmaar opened #14062 "Disable Dependabot for eventing components"
**Description**

Dependabot automatically merges PRs with `skip-review` label. This makes sense then there are automated tests that ensure that the work performed by Dependabot is correct.
In our case however Dependabot does **not bump** the newly build **image**. Hence our **integration test** are **not testing the change from Dependabot**. For now we **should** remove the `skip-review` label as

[2022-04-21 18:49] nachtmaar commented on #14062
/area eventing

[2022-04-21 19:56] piotrkpc commented on #13515
/assign piotrkpc

[2022-04-22 06:17] strekm opened #14064 "ORY stack bump"
**Description**

Bump ORY chart components to latest version if possible.

AC:
- [x] #14136
- [x] #14135
- [x] configuration updated
- [x] #14266
- [x] verification of breaking changes in components
- [x] manual tests executed
- [x] OPTIONAL CVEs are triaged or at least first analysis done on manual upload of new images
- [x] release notes
- [x] All updates need to be merged to main in single pull

[2022-04-22 07:26] dariusztutaj commented on #13619
/assign @dariusztutaj

[2022-04-22 07:55] kwiatekus opened #14067 "Add NodeJS 16 serverless runtime"
**Description**
As a kyma user I can create functions using nodeJS 16 runtime.

As kubeless engine is no longer maintained, lets base this one on the the [new setup](https://github.com/kyma-project/kyma/issues/13698#issuecomment-1126162241) ( fission )

**AC**
 - [x] nodejs 16 is selectable from the kyma dashboad
 - [x] nodejs16 is an available option when creating via CLI
 - [x] nodejs16 is liste

[2022-04-22 07:58] kwiatekus commented on #14022
Thanks @lechnerc77
Fair point with nodejs 16 - we will add it as part of 2.3 release.
I have created an issue for that
https://github.com/kyma-project/kyma/issues/14067

As for nodejs 18 - it will become a supported runtime in kyma in Q4 2022 as it is planned to become active LTS in Q4

[2022-04-22 08:00] kwiatekus commented on #13698
We should use nodejs16 for this experiment
https://github.com/kyma-project/kyma/issues/14067

[2022-04-22 08:34] VladislavPaskar commented on #13847
/close

[2022-04-22 08:34] #13847 closed

[2022-04-22 09:08] VladislavPaskar commented on #14025
/assign

[2022-04-22 09:42] raypinto commented on #13962
We agreed to leave the consumer names as is on the dashboard, because:
- If we use a readable names, that includes namespace + name + eventType, the name is no longer readable on the graph.
- If we use a readable name, that includes namespace + name, we would not be able to drill down to the exact filter in the subscription misbehaving.
- Also, the metrics would be grouped per kyma subscription an

[2022-04-22 11:02] marcobebway commented on #14025
/area Eventing

[2022-04-22 11:04] VladislavPaskar commented on #14025
I also like the first solution, as the second one requires more work.

[2022-04-22 11:56] dbadura commented on #13698
So far I managed to:
- run our functions as fission runtime
- add ability to sent events
- add our tracing configuration
Here are the changes: https://github.com/dbadura/kyma/tree/fission-runtime

The tracing still doesn't work. What I would try:
- try to run nodejs some tracing propagation example
- examine why our configuration doesn't propagate tracing

[2022-04-22 12:40] nachtmaar commented on #13800
**Tasks**:
- [ ] Change eventingbackend CR to allow defining a secret for BEB (e.g. eventingbackend.Spec.Beb.secretRef=<name of secret>)
- [ ] Enable specifying the eventing backend type to be used (e.g. `eventingbackend.Spec.Type=nats`)
- [ ] Allow specifying config on the eventingbackend CRD
  - [ ] Beb secrets
  - [ ] Nats config options such as limit, maximum inflight
- [ ] migration in Kyma R

[2022-04-24 09:15] johgoe commented on #13618
Is it intended that with 1.13 is not a solo-fips image anymore? It was a mentioned feature in the blog for kyma 2.1 release (#13016)

[2022-04-24 21:13] majakurcius commented on #13718
@janmedrek
Please confirm that this change is correct:

**Application Connector Architecture**

BEFORE
![image](https://user-images.githubusercontent.com/53601578/164995968-cb48d519-2850-4677-8e29-f776b7125670.png)

AFTER
![image](https://user-images.githubusercontent.com/53601578/164996792-32eeeb5e-aee1-4668-a17d-386528c646ca.png)

[2022-04-25 07:19] raypinto commented on #14062
/assign

[2022-04-25 07:46] skhalash commented on #13375
/retitle Fix socket hangup during test execution

[2022-04-25 08:19] raypinto commented on #13962
/close

[2022-04-25 08:27] dbadura commented on #13828
/assign @dbadura

[2022-04-25 08:34] #13413 closed

[2022-04-25 09:10] raypinto commented on #14013
/assign

[2022-04-25 09:38] wozniakjan commented on #13873
I am observing commerce mock failures to block https://github.com/kyma-project/control-plane/pull/1600, https://github.com/kyma-project/control-plane/pull/1576 to merge. These are on completely unrelated topics without any overlap with commerce mock. Current error is:
[code]

would be great to get this resolved or at least temporarily allow a workaround so it is not blocking other work.

[2022-04-25 10:46] m00g3n opened #14079 "Improve function-controller tests"
**Description**
Split tests based on [envtest](sigs.k8s.io/controller-runtime/pkg/envtest):
  - [function_reconcile_gitops_test.go](https://github.com/kyma-project/kyma/blob/88abcfe1a25889eaeef38b0583a31e0d767498b8/components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go)
  -  [function_reconcile_test.go](https://github.com/kyma-project/kyma/blob/8e88ac391e5

[2022-04-25 11:08] raypinto commented on #14062
/close

[2022-04-25 11:08] #14062 closed

[2022-04-25 11:12] raypinto commented on #13798
Also see: https://github.com/kyma-project/kyma/issues/13800

[2022-04-25 12:01] clebs commented on #11053
/reopen

[2022-04-25 12:40] pbochynski commented on #13553
@janmedrek @Maladie Can we somehow expose the NAT Gateway IP to the user? What is the recommendation?
I couldn't find a better way then just to create some pod in the cluster and call some external service from inside the cluster:
[code]

[2022-04-25 12:46] m00g3n opened #14086 "Improve function-controller error handling"
**Description**
- [ ] create dedicated errors
- [ ] make error handling consistent

**Reasons**
- [ ]  Improve product quality
- [ ]  Improve maintenance

**Attachments**

[2022-04-25 12:57] #13375 closed

[2022-04-25 14:29] a-thaler opened #14087 "apiserver metrics missing"
**Description**
Typical apiserver metrics are not getting scraped anymore. When checking prometheus, only `apiserver_client_certificate_expiration_seconds_bucket` and `apiserver_request_duration_seconds_bucket` are present, but the important ones like `apiserver_request_total` are gone

The apiserver Grafana dashboard is quite empty as well

The problem got introduced most probably with https://gi

[2022-04-25 16:37] #14087 closed

[2022-04-26 01:09] tillknuesting commented on #13415
Fix provided here https://github.com/kyma-project/kyma/pull/14071/files

[2022-04-26 07:46] majakurcius commented on #13718
Doc-wise: what's left is to adjust the remaining tutorials to the new flow.
I'll be working with @akgalwas on this.

[2022-04-26 08:14] mvshao commented on #13718
What is left to do:
- adjust the Fast Integration Tests and make sure that the new flow is operating well- @VOID404 and @koala7659 are working on it
- merge the changes from PRs, regarding the removal of the pipelines, sources, helm charts and Fast Integration Tests

[2022-04-26 09:25] marcobebway commented on #13395
Blocked by: https://github.com/kyma-project/kyma/issues/13789.

[2022-04-26 09:38] PK85 commented on #13415
TODO:
1.1) - [ ] PR merge test skr_without sc
1.2) - [ ] PR merge test infra for without sc
2.1) - [ ] PR reflect changes into skt-test directory (Kyma repo)
2.2) - [ ] adjust skr-test prow job to get btp-operator creds injected
3.1) - [ ] clean up fast-integration test service catalog, helm-broker code which is not used in skr-test anymore

[2022-04-26 11:31] rakesh-garimella opened #14097 "Verify if we need all the metrics coming from apiserver"
**Description**

In the regex [here](https://github.com/kyma-project/kyma/blob/main/resources/monitoring/values.yaml#L933) we explicitly keep metrics being exported by apiserver. However few like `etcd_helper_cache_hit_total, etcd_helper_cache_miss_total` are not exported by apiserver. They can be removed from the keep list.

We should verify if we can cleanup the list to keep only metrics coming

[2022-04-26 11:35] rakesh-garimella commented on #14097
/area monitoring

[2022-04-26 12:25] dennis-ge commented on #13375
/repopen

[2022-04-26 13:39] majakurcius commented on #13718
The READMEs have been checked and dealt with.
Adjusting the tutorials is work in progress.

[2022-04-26 15:29] jakobmoellerdev opened #14104 "Kyma Gardener CI Jobs fail when API Server Certificate is about to Expire and not rotated fast enough"
**Description**

Affected Pipelines:
- kyma-upgrade-gardener-kyma2-to-main-reconciler-main
- pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener

Currently all Pipelines that use Gardener and the Upgrade job in the Fast Integration Tests from https://github.com/kyma-project/kyma/blob/main/tests/fast-integration/monitoring/prometheus.js#L49 (Monitoring Tests) will fail because o

[2022-04-27 05:42] dariusztutaj commented on #13618
@johgoe yes, it is intended to not use solo images anymore

[2022-04-27 05:42] #13618 closed

[2022-04-27 05:46] dariusztutaj commented on #13619
all tests have been executed against main branch and worked fine

[2022-04-27 05:46] #13619 closed

[2022-04-27 06:13] #13792 closed

[2022-04-27 07:50] k15r commented on #13962
do we offer any help for the customer on how to run the nats cli?
would it be possible to ad the consumer name to the subscription crd?

[2022-04-27 07:56] rakesh-garimella commented on #13806
The fluentbit has been updated to 1.9.2 version. Also the customisations have been documented [here](https://github.com/kyma-project/community/pull/659). Also the telemetry operator dryrun feature was adjusted to work with the new fluentbit version.

[2022-04-27 07:56] #13806 closed

[2022-04-27 08:02] janmedrek commented on #13553
@pbochynski Unfortunately, there is no info on the assigned IP for the NAT Gateway in Gardener. This would mean the possible options are:
- Calling external service to check the IP (the method you've presented)
- Extracting that from the Azure API and putting some kind of ConfigMap in the cluster that would contain the IP, then displaying that in Busola

The problem with the second option is that

[2022-04-27 08:46] kwiatekus commented on #13855
Recent fail indicate quota limit reached
[code]

[2022-04-27 08:55] kwiatekus commented on #13855
Me and @dekiel analysed the retry operation for shoot cluster creation (https://github.com/kyma-project/test-infra/issues/5229#issuecomment-1110740401)

We see its used - but we are always at the quota limit. Retry for shoot provisoning is not going to solve it

[2022-04-27 09:09] kwiatekus commented on #13855
To improve the quota issue we should improve kyma  cleanup  on the test clusters.
There is a lot of shoot clusters in prow namespace that cannot be cleaned due to orphaned CRDs
@kyma-project/gopher
![Screenshot 2022-04-27 at 11 07 16](https://user-images.githubusercontent.com/6783567/165483865-a88c8d6e-8c94-4eb1-9339-035d14348c74.png)

[2022-04-27 10:49] a-thaler commented on #13812
Will update kiali to 1.49

[2022-04-27 11:42] rakesh-garimella commented on #14097
The unnecessary metrics (not exposed by api server) have been removed such that the `keep` regex is smaller and cleaner.

[2022-04-27 11:42] #14097 closed

[2022-04-27 13:41] raypinto opened #14111 "Performance Evaluation of JetStream"
**Description**

[Here](https://github.com/kyma-project/kyma/issues/13736) we did a first evaluation of performance for JetStream. As a followup we would like to:
- [x] Perform the evaluation again, but shut down nodes of the cluster during the evaluation
  - [x] No messages should be dropped
  - [x] Perform for both evaluation and production profiles

We ran the previous performance evaluations w

[2022-04-27 14:07] dekiel commented on #13855
If you would like to troubleshoot bash scripts you can use `set -x` to enable debug printing from bash execution. I use it for troubleshooting retry logic, see usage [here](https://github.com/kyma-project/test-infra/pull/5287/files). It will print commands with arguments which are executed along with it results and variable values. Pay attention to any sensitive data like tokens and passwords whic

[2022-04-28 08:17] kwiatekus commented on #13855
`periodic-main-kyma-incubator-reconciler-kyma1-kyma2-upgrade` is one of the pipelines that introduces a shoot cluster that cannot be cleaned.
Currently investigated by @kyma-project/jellyfish if can be removed

[2022-04-28 08:34] varbanv commented on #13783
Implemented an automated test for latest two versions.

[2022-04-28 08:34] #13783 closed

[2022-04-28 08:37] varbanv commented on #13861
Fixed in https://github.com/kyma-project/kyma/issues/13375

[2022-04-28 08:37] #13861 closed

[2022-04-28 08:52] jakobmoellersap commented on #13855
I think the cleaner changes may have introduced some unintended side effects.
https://github.com/kyma-project/test-infra/pull/5332#pullrequestreview-956081697
I think the cleanup changes now cause various pipeline failures as the deprovisioning is not working as expected (e.g. https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1633/pre-main-control-plane-reconcil

[2022-04-28 09:05] jakobmoellersap commented on #13855
Regarding `periodic-main-kyma-incubator-reconciler-kyma1-kyma2-upgrade` we are working on removing it

[2022-04-28 09:23] dekiel commented on #13855
This is stated in log messages.

[code]

[2022-04-28 09:42] k15r commented on #13777
This ticket has to be reopened as we will have to introduce PVCs on all existing clusters as soon as a cluster shall use jetstream. The decision has been made to always use file storage (even for evaluation profiles).

[2022-04-28 10:19] #13836 closed

[2022-04-28 10:21] adityabhatia commented on #13855
https://github.com/kyma-project/test-infra/pull/5353 should remove this pipeline

[2022-04-28 10:35] chrkl commented on #13836
The following changes have been made to address this issue:
- Changed the operator and Makefile to run it will a self signed certificate for the webhook server.
- Removed orphaned manifest files that have been generated by Kubebuilder and change the documented development flow to use our Helm chart.

[2022-04-28 11:51] jakobmoellersap commented on #13968
Unfortunately we still have problems with broken_pipe in some pipelines:
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-incubator_reconciler/1061/pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d/1519280177689923584

[2022-04-28 11:54] VladislavPaskar commented on #13656
/close

[2022-04-28 11:54] #13656 closed

[2022-04-28 12:53] mfaizanse commented on #13976
The  [job run logs](https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/13975/pre-main-kyma-skr-eventing/1514250358489092096/build-log.txt) (from where you have reported this error `Cleaning: Test resources should be deleted:`), shows that it failed to provision the SKR cluster and in-return it failed to cleanup.

[2022-04-28 13:07] kwiatekus commented on #13828
We need to poc the following:

 - getting rid of GitRepo CRD !!
 - propose changes in Function CRD (eliminate git related pros ??)
 - design GitFunction CRD
 - decision whether we need a dedicated controller (or have a reconciliation branch in the function controller)

[2022-04-28 13:15] mfaizanse commented on #13976
Currently the job is failing due to:
[code]

[2022-04-28 14:04] tillknuesting commented on #13415
PR reflect changes into skt-test directory (Kyma repo) https://github.com/kyma-project/kyma/pull/14117/files and adjust skr-test prow job to get btp-operator creds injected
 https://github.com/kyma-project/test-infra/pull/5359/files

[2022-04-29 06:05] akgalwas commented on #13718
We need to remove application-connector-tests as it is not used in pipelines and references Application Registry.

[2022-04-29 06:21] akgalwas commented on #13970
I noticed that the data model in Application Gateway contains `commonName` field that is not needed. There is also a comment stating that `CSRFTokenEndpointURL` is deprecated but I'm not sure about that.

[2022-04-29 08:03] MTAttic opened #14125 "Kyma deployment fails"
Hey!

I am currently trying to deploy Kyma und a k3d cluster, but the deployment fails every time.

I first run:
`kyma provision k3d`

But when I do:
`kyma deploy`

I get the error:
`Error: Cannot fetch Kyma version: Get "https://host.docker.internal:62676/apis/apps/v1/namespaces/kyma-system/deployments?labelSelector=reconciler.kyma-project.io%2Fmanaged-by%3Dreconciler": dial tcp 192.168.2.110:626

[2022-04-29 08:06] #14025 closed

[2022-04-29 08:22] k15r commented on #14013
The documentation part that speaks about at least once delivery feels a bit out of place in the operations section.
The steps described there are not necessary to run jetstream. imho they are more a nice way to demo this feature to a developer (but even the developer does not really need to do these steps in a normal dev cycle)
Lets think if and where we want to put such snippets

[2022-04-29 08:28] tobiscr commented on #14125
Hi @MTAttic : can you please provide me the CLI version you are using (can be retrieved by calling `kyma version`)?

[2022-04-29 08:30] MTAttic commented on #14125
Sure! Its "Kyma CLI version: 2.0.4"

[2022-04-29 08:38] jakobmoellersap commented on #14125
Hey! Could you add some detailed information by doing the following:
`k3d cluster delete --all` (if you have to persist a cluster please make sure to adopt this to only delete the kyma provisioned one)
`kyma provision k3d`
`docker info`
`kubectl cluster-info`

[2022-04-29 08:52] MTAttic commented on #14125
Result after running `docker info`:
`Client:
 Context:    default
 Debug Mode: false
 Plugins:
  buildx: Docker Buildx (Docker Inc., v0.8.2)
  compose: Docker Compose (Docker Inc., v2.4.1)
  sbom: View the packaged-based Software Bill Of Materials (SBOM) for an image (Anchore Inc., 0.6.0)
  scan: Docker Scan (Docker Inc., v0.17.0)

Server:
 Containers: 9
  Running: 5
  Paused: 0
  Stopped: 4
 Imag

[2022-04-29 10:06] mfaizanse commented on #12452
TODO: check if we can use the ko url for event-publisher-proxy instead of doing:
[code]

[2022-04-29 10:37] mfaizanse commented on #13962
Can we add `<namespace>/<name>/<eventType>` to consumer description, and show the consumer description on dashboard instead of consumer name?

[2022-04-29 11:08] jakobmoellersap commented on #14104
This needs to be investigated further, I could not find out why the certificate warnings are issued

[2022-04-29 11:10] jakobmoellersap commented on #13857
Job stabilized and is looking okay now.

[2022-04-29 11:10] #13857 closed

[2022-04-29 11:38] jakobmoellersap commented on #13267
This job should now be stable again. We can close it now I think and reopen it if we see flakiness again. WDYT @VladislavPaskar ?

[2022-04-29 11:54] Disper opened #14127 "serverless-git-auth-integration-k3s-nightly is failing since 16.03.2022"
**Description**
[serverless-git-auth-integration-k3s-nightly](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/serverless-git-auth-integration-k3s-nightly) has 100% failure rate since 16.03.2022.

**Troubleshooting**

[code]

/area

[2022-04-29 12:08] mfaizanse opened #14128 "Implement migration (pre-action) in Kyma Eventing Component Reconciler"
- reminder: migration code needs to be idemponent (as usual in Kyma Eventing Component Reconciler)
  - [ ] migrate active backend from secret (label) to eventingbackend.Spec.Config.Beb.secretRef
     - [ ] edge case: if there are 2 secrets defined for BEB, fail the migration (best would be to not start the migration in this case at all)
     - [ ] create a follow-up ticket to not forget about remo

[2022-04-29 12:10] mfaizanse opened #14129 "Investigate and design new Eventing-Backend CRD to include eventing-backend type and configs"
Keep in mind that this ticket is part of [this issue](https://github.com/kyma-project/kyma/issues/13800).
- [x] Define a new eventing-backend CRD.
    - [x] Check what configs we need to move to the eventing-backend CRD.
    - [x] Remember to keep the new CRD flexible for [Multiple active backends](https://github.com/kyma-project/kyma/issues/13798).
    - [x] Investigate where the backend CR valid

[2022-04-29 12:57] mfaizanse commented on #13777
**Tasks:**
- [ ]  Implement a pre-action in eventing component reconciler.
  - Scenarios:
    - From NATS to JetStream `file storage`.

**Notes:**
- From JetStream `in-memory` to JetStream `file storage`. (We do not support this flow)

[2022-04-29 13:31] mfaizanse opened #14131 "Make fast-integration tests source code available in container image for tunas-fi-testing Spinnaker pipeline"
You need to solve the problem how the test source code gets into the container:

Two options:
1. Bake FI test code inside container image. Requires a new prob job and is not flexible.
2. git clone FI test code before test execution. Think about whether it makes sense to collect the required shell commands in a script rather than using the k8s command value.

Check if any other spinnaker job is usi

[2022-05-02 07:37] skhalash commented on #13836
/retitle [Telemetry Operator] Improve telemetry-operator Makefile

[2022-05-02 07:39] jakobmoellersap commented on #14125
Hey @MTAttic, did you find a chance to look at this again? We're happy to help in case you still face issues.

[2022-05-02 09:34] raypinto commented on #13962
The first option was investigated. It can be done only by a change in the upstream. I have an [issue](https://github.com/nats-io/prometheus-nats-exporter/issues/170) for it.

In the meantime, I will add the consumer names to the subscription status.

[2022-05-02 09:52] raypinto opened #14134 "Add Description to JetStream Dashboard graphs"
**Description**

JetStream dashboards contain various graphs. The user may not understand the purpose of the dashboard or what it means from the title of the graph (eg. Acks pending vs pending messages, storage used vs memory used etc.). It would help if some description was added to these graphs.

**Area**

* Eventing - JetStream

**Related Issue**

https://github.com/kyma-project/kyma/issues/111

[2022-05-02 10:54] dariusztutaj opened #14135 "components on latest version"
**Description**

Implement necessary changes in ory charts to install / upgrade ory to latest version

**AC:**
 - [x] hydra version updated
 - [x] hydra-maester version updated
 - [x] oathkeeper version updated
 - [x] postgresql version updated
 - [x] **changes made against feature branch: feature/ory-stack-bump**

**Attachments**
https://github.com/ory/k8s
#14064

[2022-05-02 10:56] dariusztutaj opened #14136 "new images available in Kyma external repository"
**Description**

Expose ORY  latest images available in kyma/test-infra/development/image-syncer.

**Reasons**

Keeping ORY up to date

**Acceptance Criteria**

- [x] Ory hydra image updated to version v1.11.7
- [x] Ory hydra-maester image updated v0.0.25
- [x] Ory oathkeeper image updated v0.38.25-beta.1
- [x] PostgreSQL image updated to latest version supported by ory

**Attachments**
#14064

[2022-05-02 11:28] grego952 opened #14137 "Deep links for headers with camelCase words do not work on the website"
**Description**
Deep links for headers with camelCase words do not work on the website. For example, for JetStream the links for the github .md files work with #jetstream but on netlify they work only with #jet-stream. However, #jet-stream does not work for the .md files and all the tests fail.

**Expected result**
User can access given section of a doc by using the given link to the header sectio

[2022-05-02 11:33] dariusztutaj commented on #14064
Feature branch created: **feature/ory-stack-bump**

[2022-05-02 13:08] a-thaler opened #14141 "[Telemetry Operator] Apply new findings - use rewrite tags, handle tags properly"
**Description**
After recent investigations new conclusions in regards to the concept for configurable logging are made. Thes findings needs to be reflected in the implementation of the operator.
See also https://github.com/kyma-project/community/pull/661 and https://github.com/kyma-project/community/pull/656

**Criterias**
- Implementation is reflecting the new concept
- Findings for pipelines wi

[2022-05-02 13:34] m00g3n commented on #13828
https://github.com/kyma-project/kyma/pull/14142

[2022-05-02 14:22] a-thaler opened #14143 "[Configurable Logging] Performance analysis: in-memory buffer"
**Description**
The default setup of fluent-bit needs to be tested against typical operational issues like availability, communication disruptions, scalability and so on. This ticket focusses on the specific aspect of the in-memory buffer
That analysis needs to be documented and repeatable.

Before allowing the user to configure the in-memory buffer, we should understand the effect of it on throug

[2022-05-02 14:22] a-thaler opened #14144 "[Configurable Logging] Performance analysis: bad filters and outputs"
**Description**
The default setup of fluent-bit needs to be tested against typical operational issues like availability, communication disruptions, scalability and so on. This ticket focusses on the specific aspect of the impact of resource-intensive plugin setups.
That analysis needs to be documented and repeatable.

**Reasons**
Assure typical NFRs upfront to allow a smooth operation

**Critieria

[2022-05-02 14:22] a-thaler opened #14145 "[Configurable Logging] Performance analysis: throughput"
**Description**
The default setup of fluent-bit needs to be tested against typical operational issues like availability, communication disruptions, scalability and so on. This ticket focusses on the specific aspect of log throughput
That analysis needs to be documented and repeatable.

**Reasons**
Assure typical NFRs upfront to allow a smooth operation

**Critierias**
- Document a test setup which

[2022-05-02 15:39] eagle-dai opened #14147 "how to pull images behind cooperate proxy?"
**Description**

During kyma installation, in some areas, many images under eu.gcr.io/kyma-project/ cannot be pulled because of some network reasons. However, setting cooperate proxy in both /etc/systemd/system/containerd.service.d/http_proxy.conf and /usr/lib/systemd/system/docker.service seems not fixed the issue.

**Expected result**
During installation, mages under eu.gcr.io/kyma-project/ can

[2022-05-03 07:41] tobiscr commented on #13968
Issue still happening a few times for this pipeline:

 https://status.build.kyma-project.io/?job=kyma-integration-k3d

[2022-05-03 08:03] tobiscr commented on #14104
Issue with certificates is not happening again

[2022-05-03 08:03] #14104 closed, assigned to ruanxin

[2022-05-03 08:04] tobiscr commented on #13968
Waiting for important improvement: https://github.com/kyma-project/test-infra/pull/5335

[2022-05-03 08:13] mfaizanse commented on #12452
Currently `ko` only applies to the current working directory, and since `event-publisher-proxy` resides outside of the `eventing-controller` directory, `ko publish/build` cannot be applied from Makefile of eventing-controller.

There is a feature request going on to add `-C` flag to KO to accept working directory, once that feature is added we can move to use the ko based url for event-publisher-p

[2022-05-03 09:20] a-thaler commented on #14147
Hi @eagle-dai ,
are you using a minikube setup with a kyma1 installation? With minikube we had a lot of troubles, that's why we moved to k3d with kyma2 and do not support minikube anymore, please give that a try.

However, you could try the `--use-hyperkit-vpnkit-sock` on the deprecated `kyma provision minikube` command

[2022-05-03 09:32] k15r commented on #13795
according to [go project layout standards](https://github.com/golang-standards/project-layout) the publishers / controllers /dispatchers should go here:

[2022-05-03 12:07] pxsalehi commented on #14131
I have looked into the second version, as it is the more reasonable and flexible approach. Using an existing image used in our Prow jobs, the following Docker command is enough to run the test, and it can be easily converted to a K8s job:
[code]

There might be two reasons to have a more specific Docker image:
1. The `kyma-integration` image is pretty huge and we don't need most of what's in it.
2

[2022-05-03 12:59] #12452 closed

[2022-05-03 13:17] mfaizanse commented on #12452
The `make deploy` flow will be further optimised as part of [this](https://github.com/kyma-project/kyma/issues/13795) issue.

[2022-05-03 13:47] raypinto opened #14152 "Kyma subscription and NATS infra are not in sync"
**Description**

Kyma subscription and NATS infra are not in sync when we have a subscription that is not ready.

**Expected result**

Kyma subscription and NATS subscription are in sync

**Actual result**

Kyma subscription and NATS subscription are not in sync

**Steps to reproduce**

- Install kyma
- Create a subscription with 3 filters (3 subscriptions are created on NATS. You can verify it wi

[2022-05-03 15:03] mfaizanse commented on #14021
PR: https://github.com/kyma-incubator/reconciler/pull/1071

[2022-05-03 16:14] eagle-dai commented on #14147
Hi @a-thaler, thanks for your reply! I followed the guide from https://kyma-project.io/docs/kyma/latest/02-get-started/01-quick-install/. It is kyma2 and k3d.

[2022-05-03 18:18] nachtmaar opened #14154 "Subscription.Status.cleanEventTypes not reflecting the truth under certain conditions"
**Description**

There is a **bug** with the `Subscription.Status.cleanEventTypes` field then the **eventType prefix cannot be found** in the `Subscription.Spec.Filter.Filters[0].eventType`. It only shows up if there is a successful reconcile before changing the eventType.

**Expected result**

The `Subscription.status.cleanEventTypes` always shows the correct value. If it **cannot be cleaned** it

[2022-05-04 06:19] dbadura commented on #14127
The exact error:
[code]

[2022-05-04 06:59] jakobmoellersap commented on #14125
Closing as I am assuming this issue is solved, if you face any other issue, please reach out and reopen the ticket!

[2022-05-04 06:59] #14125 closed

[2022-05-04 08:38] jakobmoellersap commented on #13968
can this be closed after the recent changes? @tobiscr

[2022-05-04 09:13] cnvergence commented on #13517
/unstale

[2022-05-04 09:26] mfaizanse commented on #13976
Issue in KEB has been addressed in: https://github.com/kyma-project/control-plane/pull/1655
Fix for fast-integration tests: https://github.com/kyma-project/kyma/pull/14130

[2022-05-04 09:51] kwiatekus commented on #14127
@Halamix2 @dekiel Can I ask you to upload a new content for SSH key secret used in your test?
https://github.com/kyma-project/test-infra/blob/e18c07065baacb7c98b3cd06f5ad48ead44da73a/prow/config.yaml#L1162
Key sent via 📧

[2022-05-04 16:28] k15r opened #14191 "Improve Kyma Eventing Documentation"
The current version of the eventing related parts in the kyma documentation is incomplete and could be improved from a customers perspective

This issue contains subitems per section in the existing documentation:

- [x] #14192
- [x] #14193
- [x] #14194
- [x] #14195
- [x] #14196

[2022-05-04 16:29] k15r opened #14192 "kyma eventing documentation - overview"
Aspects to be covered in this section:

- Definition of eventing in general
	- PubSub
	- a high-lvl pubsub diagram
- NATS Jetstream
		- file persistence
- Eventing in Kyma
  - connect external applications with kyma, trigger workload using events
  - for the user sending and receiving is covered using HTTP POST requests
  - cluster internal
	- source and sink can be in kyma, events can be used to

[2022-05-04 16:29] k15r opened #14193 "kyma eventing documentation - get started"
This section should cover one easy tutorial to get familiar with
- connection of sink and event type (subscription)
- publishing one event (on epp)
- checking that this event was received in the sink

This tutorial should use existing building blocks:
- how to setup a kyma cluster
- how to deploy a workload

If possible it should be entirely solved using busola (with optional commandline calls on

[2022-05-04 16:29] k15r opened #14194 "kyma eventing documentation - tutorials"
Getting started already covers a simple scenario. Here we should add more sofisticated scenarios in more detail:

- multiple filters in a single subscription
- receiving an event that needs event type cleanup
- changing max in flight on a subscription (including why you want to do this)

[2022-05-04 16:29] k15r opened #14195 "kyma eventing documentation - operations guides"
Aspects to be covered here:

- Operations
   - switch jetstream storage backend (opensource only)
   - dashboards explained
     - which dashboards are shipped
- troubleshooting
   - check the subscription CR status
   - check the backend CR status
   - clean event type empty
   - event not delivered
      - check various logs
   - event name cleanup collisions

[2022-05-04 16:29] k15r opened #14196 "kyma eventing documentation - technical reference"
Aspects to be covered here:

- architecture
   - eventing architecture
- custom resources
   - backend
   - subscription

[2022-05-04 17:16] k15r commented on #14196
We already have some input for a `nice to know` section in form of our tutorial around verifying jetstreams `at least once` guarantee. If you have any input where to put it, or if we even need it, please leave a comment.

[2022-05-04 17:40] k15r commented on #12390
Will be covered as part of #13798

[2022-05-04 17:40] #12390 closed, assigned to k15r

[2022-05-05 07:09] dariusztutaj commented on #14064
First manual scan executed for:
eu.gcr.io/kyma-project/external/oryd/hydra-maester:v0.0.25
eu.gcr.io/kyma-project/external/oryd/oathkeeper:v0.38.25-beta.1
eu.gcr.io/kyma-project/external/oryd/hydra:v1.11.7

Most of CVEs were already triaged for older images

[2022-05-05 07:16] VladislavPaskar commented on #13777
PR: https://github.com/kyma-incubator/reconciler/pull/1072

[2022-05-05 07:45] kwiatekus commented on #13413
Kyma was removed from GCP Marketplace
![Screenshot 2022-05-05 at 09 45 04](https://user-images.githubusercontent.com/6783567/166881385-f037eb18-2896-43b5-b3a1-86f301511cc2.png)

[2022-05-05 08:17] kwiatekus commented on #13155
Depends on
https://github.com/kyma-project/kyma/issues/13422

[2022-05-05 09:45] pxsalehi commented on #13825
Please just use a fixed prefix.

[2022-05-05 09:59] #13829 closed

[2022-05-05 10:09] k15r commented on #10362
Tests have been reorganized. Ticket is now invalid

[2022-05-05 10:09] #10362 closed

[2022-05-05 10:49] #13146 closed

[2022-05-05 11:40] chrkl commented on #13146
PR #14202 allows defining a whitelist of Fluent Bit output and filter plugins that can be used by LogPipelines. The telemetry chart has been configured to allow the grafana-loki, http and forward output plugin and all filter plugins for now.

[2022-05-05 12:09] k15r commented on #12711
will be addressed in #14194

[2022-05-05 12:09] #12711 closed

[2022-05-05 12:21] raypinto opened #14208 "Flaky backend controller integration test"
**Description**

We have a flaky backend controller test that needs to be updated.

Flaky Test: https://github.com/kyma-project/kyma/blob/5bacf9bfadd4e551d780b7d3436879cd1b4710b8/components/eventing-controller/controllers/backend/reconciler_test.go#L545
Could have been possibly happened during the change in update publisher proxy deployment logic.

Flakiness can be observed on [this pipeline](http

[2022-05-05 13:19] rakesh-garimella opened #14212 "Investigate stability of the loki pod with large number of nodes and pods."
**Description**
Loki pod is crashing with current production profile with a setup having ~10 nodes and 100 pods. When searching through logs with time span of > 6 hours and executing a query like: `{namespace="xxx"} |~ "Error"`, the loki pod run out of memory and crashes once.

**Expected result**
Loki should not crash because of regular query API usage

**Actual result**
Loki cannot handle the qu

[2022-05-05 13:26] nachtmaar opened #14213 "Improve error handling when sink is missing for BEB backend"
**Description**

If the **sink for a Subscription is not found** in the cluster (e.g. the k8s service does not exist), there is **no intuitive feedback for the user** about the actual problem.
As part of this issue/bug, the **behaviour has to be improved**.

**Actual result**

<details>
  <summary>Confusing conditions on the BEB Subscription:</summary>

[code]
</details>

<details>
  <summary>Conf

[2022-05-05 13:55] k15r opened #14218 "Improve metrics exposed by eventing components"
**Description**

As a kyma eventing user i want to have an easy way to figure out, why events do not reach the sinks that i configured.

There are scenarios that are hard to debug without deeper eventing knowledge:
- event subscriptions are configured for the wrong event type
   -> the filter just does not match
- sink configured in the subscription rejects the event

both of these scenarios can b

[2022-05-06 04:12] majakurcius commented on #13718
For documentation progress tracking, refer to the [comment above](https://github.com/kyma-project/kyma/issues/13718#issuecomment-1100143376).

[2022-05-06 07:25] adityabhatia commented on #13855
Linking more instances of failing pipeline because of gardener issues:

https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-minor-versions/1522244843005284352

https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-minor-versions/1522214643546722304

[2022-05-06 07:31] werdes72 opened #14221 "Kyma eventing on k3d not working on apple silicon"
I tried running kyma cli to provision and deploy kyma onto a k3d cluster on Apple M1 SoC.

**Expected result**

After a few minutes kyma should be installed

**Actual result**

[code]

**Steps to reproduce**

Commands used:

[code]

[2022-05-06 08:30] mfaizanse commented on #11862
Since this [PR](https://github.com/kyma-project/kyma/pull/13608) is merged, check if this flow is working now?

[2022-05-06 08:45] mfaizanse commented on #12474
Currently, eventing-controller verifies if a k8s svc exists for the sink or not ([here](https://github.com/kyma-project/kyma/blob/bc02f26e83cf7e5d4a60e2d5583b2356cf3b13d8/components/eventing-controller/pkg/handlers/sink/validator.go#L84)).

[2022-05-06 09:15] #14021 closed

[2022-05-06 09:42] nachtmaar commented on #14213
- [ ] Let's add some unit tests as we did with NATS: https://github.com/kyma-project/kyma/pull/13785/files
- [ ] Verify that the issue is not happening on main anymore (according to @pxsalehi the sink validation code changed on main branch)

[2022-05-06 09:57] nachtmaar opened #14222 "Prow Job for Fast Integration Test container"
In issue [Check how to supply fast-integration tests source code in container for release-fi-testing Spinnaker pipeline #14131](https://github.com/kyma-project/kyma/issues/14131), we created a Dockerfile to run the SKR tests.

As a next step we need a Prow Job which builds the image and pushes it to Kymas Container Registry.

**AC**:
- [ ] Create a Prow Job which builds and executes the docker con

[2022-05-06 10:36] wozniakjan opened #14223 "Perform kyma upgrade after Service Catalog migration test"
**Description**

Enhance svcat-migration pipeline with missing last step to upgrade cluster (even to the same version).

**Reasons**

**Attachments**

[2022-05-06 11:34] k15r commented on #11683
will be handled here: https://github.com/kyma-project/kyma/issues/13797

[2022-05-06 11:34] #11683 closed

[2022-05-06 11:39] k15r commented on #12474
a more complete solution will be implemented here: https://github.com/kyma-project/kyma/issues/14218

[2022-05-06 11:39] #12474 closed

[2022-05-06 12:04] k15r commented on #11862
It could be working already, but further checks for cloudevents and legacy events are required.

[2022-05-06 12:17] k15r opened #14226 "Provide Grafana dashboard for delivery per subscription"

[2022-05-06 12:17] k15r opened #14227 "Provide grafana dashboard with a mapping of incoming event types -> subscribed event types"
On EPP:
- track incoming events by event types / source combination and expose as metric

On Eventing Controller:
- track event types / subscriptions and expose as metric

Grafana:
- provide a dashboard that shows:
  - incoming event type and their usage in subscriptions (maybe color coded, other options also possible)

[2022-05-06 13:10] skhalash opened #14228 "[Telemetry Operator] Notify if referenced secret does not exist"

[2022-05-06 13:26] mfaizanse commented on #13976
Now failing with error:
[code]

[2022-05-06 13:26] mfaizanse commented on #13976
PR: https://github.com/kyma-project/kyma/pull/14122

[2022-05-06 13:55] mfaizanse commented on #13976
PR: https://github.com/kyma-project/kyma/pull/14229

[2022-05-06 13:57] dariusztutaj commented on #14136
Looks like sqlite is included in standard image

[2022-05-07 15:28] nachtmaar commented on #14213
Check again on Kyma main and there is now an error message inside the controller which improves the situation.

<details>
  <summary>Confusing conditions on the BEB Subscription:</summary>

[code]
</details>

<details>
  <summary>Confusing logs in eventing-controller:</summary>

[code]

[2022-05-08 14:15] wh7577 opened #14231 "Hydra sqlite no such table: hydra_client"
**Description**
In Kyma 1.24.9 or above (maybe Kyma 2.x also), oauth2 component hydra prompt error no such table: hydra_client.

We developed some APIs protected by oauth2, it works fine in kyma 1.24.3. But when I upgraded kyma to 1.24.11, the component hydra failed, 503 service unavailable & no such table: hydra_client displayed in log

Azure Kubernetes Cluster : 1.21.9
Kyma : 1.24.11

**Expected

[2022-05-08 14:49] wh7577 opened #14232 "high risk - Local File Read (path traversal)"
**Description**
We found a high risk - Local File Read (path traversal) on "addons" AND "catalog"

**Steps to exploit**
1.	Visit [https://addons.xxx.com/?../../../../../../../../etc/passwd]
2.	Visit [https://catalog.xxx.com/?../../../../../../../../etc/passwd]

Notice the /etc/passwd file downloaded

**Risk assessment**
A path traversal aims to access files and directories that are stored outside

[2022-05-08 14:50] wh7577 commented on #14232
Kyma version 1.24.3 ~ 1.24.11, don't know if exist in kyma 2.0 also

[2022-05-09 05:25] koala7659 commented on #13718
New PR for charts with removed components https://github.com/kyma-project/kyma/pull/14225

[2022-05-09 07:17] a-thaler commented on #14228
What should happen if the secret gets deleted after the LogPipeline got established?

[2022-05-09 07:30] skhalash commented on #14228
@a-thaler Currently, the data from the referenced secrets is copied into a special secret owned by the operator. If a referenced secret is deleted, a copy still remains.

[2022-05-09 07:32] #14223 closed

[2022-05-09 07:37] #13777 closed

[2022-05-09 07:48] mfaizanse commented on #13976
Total runs: 2
Green: 2
Red: 0

[2022-05-09 07:50] kwiatekus opened #14235 "Investigate possible performance improvements"
**Description**
Multiple git functions result in fetching sources frequently. In case the size of git repository is big, it uses all resources and crashes the controler

**Symptoms**
 - controller is CPU throttled - revisit CPU resources (requested and limits )
 - 5 functions declared simultaneously - total readiness time of all of them is lower than from before refactor
 - controller is entering

[2022-05-09 08:56] cnvergence opened #14238 "Adjust Ory Oathkeeper rolling update parameters"
**Description**

Currently, we are using defaults maxUnavailable and maxSurge as 25% in Ory Oathkeeper.
Recently we had a problem with progressing update of oathkeeper, as we are using 3 replicas.
We should adjust those parameters to avoid blocking up the rolling updates in the future.

[2022-05-09 09:57] jakobmoellersap commented on #13267
Checked again, still tons of provisioning failures and flakiness: https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-to-main-reconciler-main

[2022-05-09 10:51] #13600 closed

[2022-05-09 13:08] tobiscr commented on #13968
Yes, all changes are merged. Will close the ticket now.

[2022-05-09 15:19] a-thaler opened #14243 "[Configurable Logging] Performance analysis: filesystem buffer resource consumption"
**Description**
The default setup of fluent-bit needs to be tested against typical operational issues like availability, communication disruptions, scalability and so on. This ticket focusses on the specific aspect of the filesystem buffer and resource consumption.
That analysis needs to be documented and repeatable.

The analysis should should investigate about the impact of the filesystem buffer

[2022-05-10 07:23] Tomasz-Smelcerz-SAP opened #14244 "kyma-preview-integration-dev timeout in tests"
**Description**

`The kyma-preview-integration-dev` plan fails consistently with the following output:

[code]

No other errors or reasons are provided.
It looks like some underlying, but not reported, problem is causing that.

**Expected result**
More precise reason of failure is given - or there's no error at all.
It would be nice to have an error reported like: "error at _scriptname_:95" or som

[2022-05-10 07:35] abbi-gaurav commented on #13176
I would like to add IP whitelisting
https://github.tools.sap/kyma/backlog/issues/1004

[2022-05-10 08:26] kwiatekus opened #14245 "Liveness/Readiness probes config for serverless controller need revisiting"
**Description**
Internal health check is should verify if the controller is actually working and not stuck from some reason. This can be achieved using the internal controller-runtime implementations of readiness/liveness checks.
We should at look into those.
We should reduce our custom backoff configuration.

[2022-05-10 08:57] NHingerl commented on #12412
The [guide](https://kyma-project.io/community/guidelines/content-guidelines/08-diagrams/#shapes-and-fills) has been updated in the meantime:

<img width="706" alt="image" src="https://user-images.githubusercontent.com/76950046/167590289-57e401d5-8d97-4f72-83f9-99c298205a8e.png">

I'm applying the rounded shapes for Observability in https://github.com/kyma-project/kyma/pull/14063 but for other area

[2022-05-10 10:43] strekm commented on #11637
With current implementation with sidecar injection enabled by default we need to exclude kube-system from that configuration. Atm we do not have implementation ready to check if reconciliation is needed. With every reconciliation Istio is deployed, under the hood webhook configuration for kube-system ns is wiped out, webhook is patched to exclude kube-system. This leads to a window of time when si

[2022-05-10 11:57] mfaizanse commented on #13976
Blocked By: https://github.com/kyma-project/kyma/pull/14116.

[2022-05-10 14:05] #13275 closed

[2022-05-11 06:32] kwiatekus commented on #13855
This is the example where the flakiness of the gardener shoot cluster shows up:
[code]
ATM I have no clue why it happens. I need help from your team @dekiel

[2022-05-11 06:44] dekiel commented on #13855
For me this looks like case for Gardener team. I think it should be possible to get some more logs from Gardener. Will check if we can have more details to share with Gardener team.

[2022-05-11 06:59] kwiatekus commented on #13855
The following comes from the fact that kyma cli command is configured with `--attempts 2` flag.
Second attempt made by kyma CLI always fails with "{shootID} already exists"
[code]

This may be also a bug in the kyma cli built-in retry mechanism

[2022-05-11 07:08] jakobmoellersap commented on #13855
to see all retries of the cli, i think we can run in verbose mode, will double check. The "clearing of the shoot" is probably related to the cluster delete not happening during a retry.

[2022-05-11 07:58] Tomasz-Smelcerz-SAP opened #14253 "Many test cases for Grafana, Prometheus and Tracing are failing"
**Description**

Since yesterday afternoon (10 May 2022, around 17:00 CET), many pipelines are affected with 11-12 failing tests for Grafana, Prometheus and Tracing.
Affected pipelines I am aware of:
- https://status.build.kyma-project.io/?job=nightly-main-reconciler-e2e
- https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-control-plane-reconciler-upgrade

[2022-05-11 08:17] pbochynski commented on #11637
Istio sidecar injection alone does not introduce any security for the affected workloads/namespaces. The default setting allows accessing the workload from all workloads that are part of a service mesh. Authentication or authorization has to be configured by providing additional istio resources like AuthorizationPolicy(see example https://istio.io/latest/docs/tasks/security/authorization/authz-htt

[2022-05-11 08:32] varbanv commented on #14244
Per @PK85, preview plan is no longer supported so this pipeline should be removed.

[2022-05-11 08:32] #14244 closed

[2022-05-11 10:10] strekm opened #14256 "[Istio] implement component test for Istio evaluation installation"
**Description**

Implement component test testing Istio installation using evaluation profile on k3d cluster. Test should assume that connection to a cluster is provided and Istio is installed. Test should check proper configuration for evaluation profile: if all necessary pods are running, HPA configuration.

Expected result:

- [x] Istio pods should be running ( istiod, ingress-gateway)
- [x] ch

[2022-05-11 10:18] strekm opened #14257 "[Istio] implement component test for Istio production installation"
**Description**

Implement component test testing Istio installation using evaluation profile on k3d cluster. Test should assume that connection to a cluster is provided and Istio is installed. Test should check proper configuration for evaluation profile: if all necessary pods are running, HPA configuration.

Expected result:

- [ ] Istio pods should be running ( istiod, ingress-gatewa)
- [ ] che

[2022-05-11 11:03] strekm opened #14258 "[Istio] implement component test for Istio checking lack of sidecars in kube-system"
**Description**

Implement component test testing sidecar injection to kube-system on k3d cluster. Test should assume that connection to a cluster is provided and Istio is installed. Test should check that deployments in `kube-system` do not have istio sidecars. Deploy httpbin and confirm that new deployment doesn't have sidecar as well.

Expected result:

- [ ] existing pods in kube-system don't

[2022-05-11 13:59] cnvergence opened #14263 "Periodic failures to update webhook configurations in Istio"
**Description**

Istiod is reporting reconciliation errors related to updating webhook configurations.
Although this is not causing any trouble for now, we should investigate this issue.
[code]
**Expected result**

No errors reported by Istio during reconciliation(executing istioctl install).

**Actual result**

Errors are reported during reconciliations.

[2022-05-11 15:27] chrkl commented on #14253
PR https://github.com/kyma-project/kyma/pull/14103 moved a setting of the Grafana auth proxy from the cli arguments to a secret. The integration tests now expose Grafana using this way and fails when testing against the old auth proxy deployment. That's why we see this failure in the upgrade tests.

[2022-05-12 06:49] dariusztutaj opened #14266 "helm charts synchronised with official charts"
**Description**

Synchronize ory charts with officials. Version: 0.23.2

**AC:**
 - [x] hydra chart synced
 - [x] hydra-maester chart synced
 - [x] oathkeeper chart synced
 - [x] oathkeeper-maester chart synced
 - [x] all changes introduced in kyma have to be included in synced charts
 - [x] **changes made against feature branch: feature/ory-stack-bump**

**Attachments**
https://github.com/ory/k8s

[2022-05-12 07:52] vlerenc commented on #13422
Can you please give an estimate when you can mitigate this? Kyma clusters burn through 32+ cores, because API servers request up to 12 cores to process these requests. That's burning money on our/SAP side. That it is rooted in a Kubernetes issue (https://github.com/kubernetes/kubernetes/issues/109099) is not helping and we would ask you to please increase the priority and provide a fix.

[2022-05-12 08:09] raypinto commented on #14152
Although [this bug](https://github.com/kyma-project/kyma/issues/14154) was resolved, the problem of syncing the subscription with the NATS infra is still a problem and needs to be addressed as part of this issue.

If we perform the `step to reproduce` as mentioned [here](https://github.com/kyma-project/kyma/issues/14154), when we change the filter value in the spec to an invalid event Type value o

[2022-05-12 08:19] MTAttic opened #14277 "Kyma Envoy sidecar Access Log"
Hey!

I have deployed a nginx image on my kyma instance. A sidecar was automatically injected so my pod consists of a nginx and a istio-proxy container. My goal is to log the traffic with the envoy proxy so that I can see what requests were send to the nginx from the user. Unfortunately I cannot find any logs from that envoy sidecar in my Loki dashboard and when I open the logs from the istio-prox

[2022-05-12 09:06] kwiatekus commented on #13855
☝️ recent changes have improved the stability IMO and log transparency.
IMO that is no longer a release blocker
CC: @Sawthis

I cant see any problems related with gardener shoot provisioning other than reaching quota limits, i.e:
https://storage.googleapis.com/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma-to-kyma2/1517171502456246272/build-log.txt

There are a few orphaned clusters where gardener

[2022-05-12 09:08] janmedrek commented on #13977
I have updated the test cases - with the modularization on the horizon we want to make sure that tests for the Application Connector module are separated.

[2022-05-12 09:08] jakobmoellersap commented on #13855
Regarding Quota limit, would it be possible to increase quota or check again which clusters cause the buildup of clusters? Is this maybe again related to the cleanup?

[2022-05-12 09:18] kwiatekus commented on #13855
@kyma-project/gopher
And there are a lot of orphaned shoots suffering from the fact that `clusterservicebroker` cannot be removed:

[code]
[code]

![Screenshot 2022-05-12 at 11 16 19](https://user-images.githubusercontent.com/6783567/168036993-dbde8fe1-f13a-4ce9-adea-b415eebba005.png)

[2022-05-12 09:19] kwiatekus commented on #13855
all the above mentioned cleanup problems make us reach quota frequently

[2022-05-12 09:46] moelsayed opened #14279 "Implement a way to trigger serverless function rebuild if needed"
**Description**
Currently, out implementation doesn't allow rapid prototyping of git-based functions. A developer working on a git based function would have to manually recreate the function to trigger the rebuild or wait for the next reconciliation window.

It would be useful to provide a way to trigger a rebuild on demand without the need to wait or re-create the function.

**Reasons**

**Attach

[2022-05-12 10:21] kasiakepka commented on #13855
We've raised an [issue with Gardener](https://github.tools.sap/kubernetes-canary/issues-canary/issues/2153) to increase quota

[2022-05-12 11:09] grego952 opened #14281 "Fix spelling of Custom Resource Definition and custom resource"
**Description**
According to our [guidelines](https://github.com/kyma-project/community/blob/main/docs/guidelines/content-guidelines/02-style-and-terminology.md) `Custom Resource Definition` should be capitalized, and `custom resource` should be not.
Our documentation has some discrepancies in this regard.

**Expected result**
Both terms should spelled as mentioned in our guidelines.

[2022-05-12 12:18] FriedrichWilken commented on #14129
Keep in mind that this ticket is part of [this issue](https://github.com/kyma-project/kyma/issues/13800).
- [x] Define a new eventing-backend CRD.
[code]

- [x] Check what configs we need to move to the eventing-backend CRD.
    - Due to the generic approach we came up with, there is no need to decide on single configs here.
- [x] Remember to keep the new CRD flexible for [Multiple active backends

[2022-05-12 13:24] barchw commented on #14266
Differences in oathkeeper charts -> https://github.com/barchw/oathkeeper/pull/1
oathkeeper-master directory name in Kyma charts was changed to oathkeeper-ma**E**ster for the purpose of this comparison

Differences in hydra charts -> https://github.com/barchw/hydra/pull/1

[2022-05-12 14:03] dbadura opened #14292 "Improve common logging library"
**Description**
Currently [common logging library](https://github.com/kyma-project/kyma/tree/main/common/logging) is not easy to use.
1.  The [Logger](https://github.com/kyma-project/kyma/blob/main/common/logging/logger/logger.go#L16=) act as a logger but it only configres the real logger.
The name should be changed to something like LoggerPrototype.
The LoggerPrototype should configure and return

[2022-05-12 14:21] raypinto opened #14293 "Making CleanEventTypes not optional breaks eventing tests"
**Description**

When we want to make `CleanEventTypes` field in the Subscription status non-optional, in other words to remove `omitempty` [here](https://github.com/kyma-project/kyma/blob/9046447c9818993c2107b3c81d3fcb3276d1fe64/components/eventing-controller/api/v1alpha1/subscription_types.go#L189), the eventing tests fails when we run `make test-local`. The tests do not fail when you run them f

[2022-05-12 14:37] #14154 closed

[2022-05-12 15:01] a-thaler commented on #11236
@gowrisankar22 we are heading towards a first beta release maybe already with Kyma 2.3. We are still in performance analysis having some findings which require to adjust the concept

[2022-05-12 15:04] skhalash commented on #14228
Some info about `btp-operator` [credentials rotation](https://github.com/SAP/sap-btp-service-operator#credentials-rotation). Whenever automatic service binding is enabled, the controller creates new bindings (derived from the original bindings), which creates new secrets. So existing secrets remain untouched.

[2022-05-13 07:55] cnvergence commented on #14263
Issue will be moved.

[2022-05-13 07:55] #14263 closed

[2022-05-13 08:57] FriedrichWilken commented on #13797
Let's say you want to create a subscription like this, where would the info mentioned before go?

[code]

[2022-05-13 09:23] VladislavPaskar commented on #12847
1. Pre-requisites:
	- [ ] The pre-main-skr-eventing pipeline should be stable and reliable
	- [ ] We need a support of the configurable backend in the fi tests (https://github.com/kyma-project/kyma/issues/13520):
		- [ ] Setting the first and last backend, be it BEB or NATS ( currently its only NATS)
		- [ ] How to set it ? Env variables in the prowjob
2. Tasks:
	- [ ] Check if the existing eventi

[2022-05-13 09:24] koala7659 commented on #13718
Where we are now:

- [x] Fast integration tests fixed and reviewed
- [x] All identified pipelines pass
- [x] Chart update + FIT update merged to common PR #14225
- [ ] Approval for tracing tests changes
- [ ] Approval for eventing tests changes
- [ ] Merge to main [PR #5232](https://github.com/kyma-project/test-infra/pull/5232) - pipelines
- [ ] Merge to main PR #14225
- [ ] Documentation approval

[2022-05-13 09:47] #9368 closed

[2022-05-13 09:48] nachtmaar commented on #14222
From the discussion:
- Think about switching debian 11 base image to an even more slimmer one.

[2022-05-13 10:48] #14135 closed

[2022-05-13 10:49] #14136 closed

[2022-05-13 10:52] #13515 closed

[2022-05-13 11:29] strekm commented on #13791
https://kyma-project.io/docs/kyma/main/03-tutorials/00-api-exposure/apix-04-get-jwt/

[2022-05-13 11:29] #13791 closed

[2022-05-13 15:13] kwiatekus commented on #13698
Leftovers:
 - [ ] try to use tracer object in the function code
 - [ ] test performance of the runtime (readiness time, response time) - compare with fission
 - [ ] adjust sampling strategy to parent based one

[2022-05-13 15:28] nachtmaar opened #14305 "Refactor the EventingBackend CRD"
**Description**

While reviewing the Proposal [reimplement backend-crd.md #667](https://github.com/kyma-project/community/pull/667) I discovered a few things on the `EventingBackend` CR which can be improved IMHO.

## Tasks:
As part of this issue we should:
- [ ] Agree if we want to perform any of the proposed changes to the `EventingBackend` CR
- [ ] Implement the changes or create follow-up tick

[2022-05-16 08:02] strekm commented on #11637
With @pbochynski, @aberezovski and @TorstenD-SAP we decided that we want to do following:
- provide report analysing, which workloads don't have sidecars injected
- provide extensive documentation on how to secure workload (add it to service-mesh and create additional istio resources)

[2022-05-16 10:20] kwiatekus commented on #13855
Looks like latest changes have done the trick
 + tests cleanup
 + gardener provisioning code
 + shoot count quota

 Closing.

[2022-05-16 10:20] #13855 closed

[2022-05-16 10:55] #10779 closed

[2022-05-16 10:58] FriedrichWilken commented on #14129
Here is a [Proposal](https://github.com/kyma-project/community/pull/670) for a new backend CRD.

[2022-05-16 11:27] a-thaler commented on #13610
Will be solved by https://github.com/kyma-project/kyma/issues/14212

[2022-05-16 11:27] #13610 closed

[2022-05-16 13:23] a-thaler opened #14308 "Concept for custom metrics for the in-cluster stack"
**Description**
When running workload on kyma, the lightweight in-cluster stack is already a nice first go-to option for first troubleshooting. Here, you will find the basic k8s metrics for your workload. However, the typical metrics for the technology stack used in your workload is missing and it would be an easy thing to expose them in the workload. Think of typical java metrics exposable with s

[2022-05-16 14:40] a-thaler opened #14309 "[Telemetry Operator] Community Plugins"
**Description**
The operator supports flexible configuration and usage of any filter and output plugin. As the Kyma main contributors cannot test all the different available plugins on every update (only the most relevant), it needs to rely on the tests done by the fluent bit contributors.
With https://github.com/kyma-project/kyma/issues/13146 we introduced an option to allow only specific plugins

[2022-05-16 14:43] a-thaler opened #14310 "[Telemetry Operator] de-dotting filter support + docu for http output"
**Description**
For integration with ElasticSearch/OpenSearch you will face at some point the typical problem of de-dotting. Fluent Bit provides a dedot option as part of the ElasticSearch output plugin. Unfortunately, when integrating via a log shipper in-between like fluentd, then that option is not available. A filter is required to apply the dedot modifications to log records.

As workaround a

[2022-05-16 14:46] chrkl commented on #13275
PR #14282 uses the secret to expose Grafana in the test as intended. The PR removes the --reverse-proxy flag of the oauth2 proxy, since it is not effective with out Istio Ingress Gateway.

[2022-05-16 15:50] clebs commented on #13855
Some issues were also caused be the CLI failing when the cluster already exists. That bug is being fixed in the CLI to also improve stability on pipelines: https://github.com/kyma-project/cli/issues/1267

[2022-05-17 08:30] abbi-gaurav commented on #11637
Could you please add details about
* How in-cluster eventing would work? Will it work with the default configuration or would require the customer to enable sidecar?
* What would be the impact of the upgrades on such existing setups?

[2022-05-17 08:30] #14022 closed

[2022-05-17 09:09] kwiatekus commented on #14292
Verify that the format agreed some time ago is still good enough and should be used

[2022-05-17 09:41] ammarlakis commented on #13225
The initial idea was being implemented [here](https://github.com/kyma-project/test-infra/pull/5201), but following several discussions we had to pivot. Now in the pre-job, we don't want to automatically update the images but to create a guard that provides the command for the devs to update the images.
We need two functionalities for this;
1. Know which images were built/updated in this PR;
    Wh

[2022-05-17 10:55] #13607 closed

[2022-05-17 10:59] ptesny commented on #11637
Having istio ON is very convenient with functions which typically are used to create APIs or web-hooks.
What I would suggest is that with new kyma clusters we offer 2 default namespaces: the default one where istio is OFF and for instance a **default-with-istio** namespace where istion is ON. That way people can easily decide which option (with or w/o istio) they should go on with when deploying t

[2022-05-17 11:25] skhalash opened #14315 "Investigate kube-state-metrics out-of-memory"
**Description**

Investigate how a large number of pods impacts `kube-state-mertics` availability in terms of memory. consumption. How many pods can we handle with current resource limits?

**Reasons**

`kube-state-metrics` is getting OOM-killed on a Kyma cluster with a large number of pods (~6000 pods in the `default` namespace).

**Attachments**

Similar problem with an older version of `kube-st

[2022-05-17 12:18] cnvergence commented on #14266
Regarding automount option for service account token:
- https://github.com/kyma-project/kyma/pull/14301#issuecomment-1128530248

[2022-05-18 07:26] tobiscr commented on #12960
As follow up on your request: Kyma is currently working on moving towards a full modular structure. Giving customers the ability to install only these Kyma components required for their particular use case.

Also the installation mechanism (includes also the CLI) will change and customers gain the flexibility to deploy only a subset of Kyma components  - depending to their needs.

Modularisation o

[2022-05-18 07:28] tobiscr commented on #12960
@johgoe : would you agree to close this issue and continue the discussion with focus on the modularisation topic?

[2022-05-18 08:29] johgoe commented on #12960
@tobiscr yes, it's ok for me.

[2022-05-18 08:29] #12960 closed

[2022-05-18 09:38] #13818 closed

[2022-05-18 14:37] nachtmaar opened #14332 "Implement the newly designed eventing-backend CRD"
In the proposal [Add the Eventing backend CRD design proposal #671](https://github.com/kyma-project/community/pull/671/files) a newly designed EventingBackend CRD is proposed. This ticket is about reflecting the changes in the EventingBackend Reconciler.

This ticket follows the following assumption:
We only support **one** `EventingBackend` (the name and namespace of the eventing-backend  are [de

[2022-05-18 15:30] dekiel commented on #13225
@kyma-project/prow
For both solutions for functionality one I see following problems.
1. From query of firestore or GCR we can get two images with the same tag. This two images can come from two different repositories, where we have the same PR number. We don't have an easy way to identify which image is the one we are looking for.
2. We need a condition when to start our prowjob which will do suc

[2022-05-18 17:33] Ressetkk commented on #13225
The PR images are used for testing the workflow. Those are used for convenience of the devs so they can use their functionalities quick, after the PR is merged.

I see some problems with the flow itself:
* PR images are built from the current branch of the fork the dev is working
* The image tag is not compliant with the semantic versioning, which I said earlier in the thread
* We don't want PR im

[2022-05-18 18:51] dekiel commented on #13225
Here @ammarlakis wrote devs already agreed to have something automatically update their PRs.

With your solution there is a delay between merging a PR and updating image tag in values.yaml file on main branch, to point to the current version. This might be the source of issues if something will run with such setup. I expect this kind of issues are difficult to troubleshoot.
We created the data str

[2022-05-19 07:16] kwiatekus opened #14338 "Remove service catalog scenarios from function-controller tests"
**Description**
Our tests (`tests/function-controller`) test integrations with service catalog domain:
 - availability of ENVs from service bindings between function and service instance  originating from addons (i.e REDIS)

This scenario will be no longer valid very soon.
We should only have tests that ensure availability of ENVS originating from generic k8s pod injection mechanisms (i.e  secrets

[2022-05-19 08:40] Sawthis commented on #12822
@mareknawa https://github.com/kyma-project/community/pull/657/files - is it enough?

[2022-05-19 08:50] FriedrichWilken commented on #14222
- [ ] 1. move files for building images to from `/tests/fast-integration/eventing/image` to `/tests/fast-integration/image` [PR](https://github.com/kyma-project/kyma/pull/14335)
- [ ] 2. add prow job to build new image and push to registry whenever changes are done to `/tests/fast-integration/image` [PR](https://github.com/kyma-project/test-infra/pull/5444)
- [ ] 3. change the image used in `/test

[2022-05-19 09:04] Sawthis commented on #12822
https://github.com/kyma-project/community/pull/672/files

[2022-05-19 10:04] friedrichwilken opened #14343 "document the testing situation in eventing"
For the components `eventing-controller` and `event-publisher-proxy`, in the `README.md` add a section about testing that does:

Give an overview of all the tests that exist for this component.
1. is a test automatic or manual
2. are they mandatory
3. where to find the files for any given tests
4. pre, post, periodic
5. is this test currently flaky

tests|automatic|files|pre|post|periodic|stable
-

[2022-05-19 11:08] a-thaler commented on #14277
Hi @MTAttic ,
you either can enable and configure access log at installation time via the istio config (including access log format), see https://github.com/kyma-project/kyma/blob/4c1cd65aadda28c1932fa3a86c7b6052e5a32b20/resources/istio/values.yaml#L40, or you can enable access logs dynamically at runtime per pod/namespace, see https://kyma-project.io/docs/kyma/latest/04-operation-guides/operation

[2022-05-19 11:08] #14277 closed

[2022-05-19 11:53] marcobebway commented on #14129
The proposal is here: https://github.com/kyma-project/community/blob/main/concepts/eventing/backend-crd.md.

[2022-05-19 12:02] NickyMateev commented on #13970
Just for consistency and transparency I'm posting the data model as we agreed that will be defined in Compass and consumed by Kyma:

![image](https://user-images.githubusercontent.com/15074116/169288714-8f5f2719-ab61-47fc-8694-fb613d0258ae.png)

[2022-05-19 13:59] VladislavPaskar commented on #13697
seems that the backoff functionality was already introduced in the v2.7.1: https://github.com/nats-io/nats-server/releases/tag/v2.7.1,

see the comment in the [original NATS issue](https://github.com/nats-io/nats-server/issues/2042)

[2022-05-20 09:19] barchw opened #14356 "Ory Hydra pods in initialising state block rolling update"
**Description**

Ory Hydra containers with wrong persistence credentials configuration (e. g. wrong password) stay in initialising state because of wait-for-db. Reconciling again with correct config doesn't replace initialising pods.

Problem is present both on `evaluation` and `production` profile

**Related issues**
Follow up of: https://github.com/kyma-project/kyma/issues/14238

**Expected resu

[2022-05-20 09:50] kwiatekus opened #14357 "Java runtime for kyma serverless"
**Description**

Introduce a serverless java runtime that is based on JDK  designed for fast execution in a container.

**AC**
 -  modern JRE  based on SAP Java Stack
 -  logs from the runtime can be collected
 -  traces and java specific metrics (i.e heap size) can be pushed via java flavoured open-telemetry SDK

**Minimal Requirements**
- [ ] POC- use SAP Machine java stack - https://github.com/

[2022-05-20 11:02] cnvergence commented on #14064
We are not affected by this change, as we don't have any test cases for updating clients that does not exist.
We run SQL migrations with auto-migrate init container.

[2022-05-20 11:15] cnvergence commented on #14266
We could not move auto-migrate to job, because we are not supporting jobs in the reconciler.
The reasoning behind this change is explained here:
- https://github.com/ory/k8s/issues/247

[2022-05-20 11:44] osigge commented on #14357
Hello.
Great to see you're looking into serverless java functions!
Do you plan to include Fission or will you build your own implementation, just "inspired" by fission?

[2022-05-20 12:43] ralikio commented on #14357
I want to suggest considering support for newer JDK versions than 1.8 and possible usage of GraalVM.

[2022-05-20 13:14] barchw commented on #14356
Helm update seems to be working properly, issue is probably related to reconciler

[2022-05-20 13:21] cnvergence commented on #14356
helm version used for the tests
`version.BuildInfo{Version:"v3.8.2", GitCommit:"6e3701edea09e5d55a8ca2aae03a68917630e91b", GitTreeState:"clean", GoVersion:"go1.18.1"}`

[2022-05-20 14:19] wozniakjan commented on #13422
there is not going to be any fix, service catalog has been deprecated in kyma for a long time, this ticket is about forcefully removing it and for managed kyma instances there is a managed migration as well. Non-managed kymas will need to migrate on their own using https://github.com/SAP/sap-btp-service-operator-migration and can do that already.

[2022-05-21 02:41] vlerenc commented on #13422
@wozniakjan I don't know what you are trying to say. Kyma clusters burn through 32+ cores, because API servers request up to 12 cores to process requests. What is your plan to change that - better yesterday than tomorrow?

Can you not help SAP and conceive a solution to get rid or sufficiently cut down the culprit? I believe, it's this one here from our investigation: `data-privacy-integration-ser

[2022-05-23 06:50] #14134 closed

[2022-05-23 07:12] tobiscr opened #14363 "Gardener cluster provisioning fails because VM image is no longer supported"
**Description**

Provisioning of a Gardener cluster fails because the VM image is no longer supported. Error message:

[code]

Full error message:
[code]
Example pipeline:
* https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/1721/pre-main-control-plane-reconciler-e2e/1528628231094145024/build-log.txt

**Expected result**
Provisioning of a Gardener cluster is poss

[2022-05-23 08:57] mfaizanse commented on #13976
Grafana query issue fixed by: https://github.com/kyma-project/kyma/pull/14282

[2022-05-23 13:28] jakobmoellersap commented on #14363
Unblocked pipelines with https://github.com/kyma-project/test-infra/pull/5458 so im changing failing-test to flake as we will need to change from direct shoot specs to cli provisioning instead

[2022-05-23 16:32] vlerenc commented on #13422
@wozniakjan Nice one. :-)

Sometimes, I can only try to ask other departments/orgs. I am not responsible for all things Kubernetes at SAP, just working in/for Gardener, not Kyma or HANA or any other stakeholder.

[2022-05-24 06:03] khlifi411 opened #14368 "Failing skr-aws-upgrade-integration-dev while reconciling RMA component"
**Description**

We expect [skr-aws-upgrade-integration-dev](https://status.build.kyma-project.io/?job=skr-aws-upgrade-integration-dev) to be green. Currently, it is failing on the reconciliation of the RMA component and due to not enough logs we do not know what causes the issue.

**Expected result**

RMA component reconciles successfully

**Actual result**

Reconciliation of the RMA component fa

[2022-05-24 06:03] khlifi411 commented on #14368
/kind bug
/kind failing-test

[2022-05-24 06:14] khlifi411 opened #14369 "Tracing Tests are failing on multiple pipelines"
**Description**
Tracing Tests are failing on multiple pipelines

**List of affected pipelines**
- [kyma-upgrade-gardener-kyma2-to-main-reconciler-main](https://status.build.kyma-project.io/?job=kyma-upgrade-gardener-kyma2-to-main-reconciler-main)
- [pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener](https://status.build.kyma-project.io/?job=pre-main-control-plane-reconciler-u

[2022-05-24 06:15] khlifi411 commented on #14369
/kind bug
/kind failing-test

[2022-05-24 07:32] tillknuesting opened #14370 "Failing skr-aws-integration-dev due to provisioning timeout"
skr-aws-integration-dev test keeps failing in the skr provisioning stage

[code]

https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/skr-aws-integration-dev/1528904942499139584

[2022-05-24 08:49] raypinto opened #14371 "JetStream Consumers are recreated when the nats server is restarted"
**Description**

When the nats server is restarted, and is up again, the consumers are recreated and the events stored in the stream before the restart are not received at the sink. On checking the consumers info, you can see that the consumers are newly created.

**Expected result**

The consumers are not recreated and the events are received at the sink

**Actual result**

The consumers are recr

[2022-05-24 09:22] lauraanddolay commented on #14368
hi @khlifi411 now for he latest build skr `shoot--kyma-dev--fd60fa8` is deleted and its reconciler as below looks like good.
[code]

[2022-05-24 09:24] lauraanddolay commented on #14368
the build became `red` ....

[2022-05-24 09:28] khlifi411 commented on #14368
Yes. Thank you, @lauraanddolay. It is failing with another error now related to the eventing gateway.
I will ping the `eventing` team to have a look 👍

[2022-05-24 12:30] a-thaler opened #14379 "prometheus-operator provided by user interfers with operator provided by kyma"
**Description**

Kyma ships a prometheus-operator to manage the in-cluster prometheus installation in kyma-system namespace. The purpose of the instance is to collect and serve metrics provided by system component. Custom metrics could be added in an open source based installatin as well, however the stack might be not sufficient enough and requires a custom installation besides. For that, users m

[2022-05-25 06:49] Sawthis commented on #13873
@PK85 what is the status of this issue? It's release blocker for Kyma Runtime 2.3 release and should be fixed before 15th of June.

[2022-05-25 06:57] Sawthis commented on #13415
@wozniakjan @PK85 @tillknuesting what is the status of this issue? It's release blocker for Kyma Runtime 2.3 release and should be fixed before 15th of June.

[2022-05-25 08:06] franpog859 commented on #13718
It's already on main, @Sawthis . We are double-checking if everything works fine on the DEV environment

[2022-05-25 08:20] tobiscr commented on #13267
Pipeline is read since 5 days and nobody cares about it. Sad story - do we really still need it? Seems to have no relevance for any time otherwise we would have reacted.

[2022-05-25 08:25] mfaizanse commented on #14111
The first part, where we have to test the nodes shut-down will be done once we have the fix for: https://github.com/kyma-project/kyma/issues/14371

[2022-05-25 08:34] kwiatekus opened #14384 "Force kaniko on k3d by default"
**Description**

We should make sure that a `--force` flag ( required on k3d ) should be used by default.
We can pass an env specific override here:
https://github.com/kyma-project/cli/blob/2d405e40037275ff06d42830af271ad15676dd95/internal/deploy/values/values.go#L48

**Reason**
Kaniko cannot be run without --force flag on k3d
Overriding it manually is required.. but rather annoying to the users
S

[2022-05-25 08:34] #14369 closed

[2022-05-25 09:19] tobiscr commented on #14368
Let's open a dedicated ticket for the Compass issue to have clear seapration between these problems

[2022-05-25 09:21] tobiscr opened #14386 "Pipeline `skr-aws-upgrade-integration-dev` fails during interaction with Compass"
**Description**

The pipelines`skr-aws-upgrade-integration-dev` fails with a Compass issue:

[code]

Response from Compasss is: `422 Unprocessable Entity`.

See [logs](https://storage.googleapis.com/kyma-prow-logs/logs/skr-aws-upgrade-integration-dev/1529311374713294848/build-log.txt):

**Expected result**

Pipelines is passing successfully.

**Actual result**

Pipelines files with issue during Co

[2022-05-25 09:21] tobiscr commented on #14386
Related to https://github.com/kyma-project/kyma/issues/14368

[2022-05-25 09:37] tobiscr commented on #13267
I would recommend to raise dedicated ticket per issue - It makes not much sense to have a "fix flaky pipeline" ticket when the issue is related to different things. Can we please close this one and start tracking the issues one by one?

[2022-05-25 09:54] kwiatekus commented on #9585
This problem priority has increased as we identify the scenario which leads to a lot of failed ( and not re-scheduled ) function builds:

If a kyma release introduces changes in function CRD, then functions are scheduled for rebuild after upgrade.
With 2.1 there were no major changes in Function CRD; hence no issues experienced as functions were not rebuilt by the controller.
With 2.2 we introduce

[2022-05-25 10:32] raypinto opened #14390 "Subscriptions are still in not ready state even after the sink is valid and reachable"
**Description**

When the sink is not reachable or invalid, the subscription is not ready. But once the sink is up and reachable, the subscription is not in ready state, unless the user manually updates the subscription in order to trigger the reconciliation.

**Expected result**

The subscription becomes ready once the sink is reachable

**Actual result**

The subscription ready status is false

[2022-05-25 12:35] Sawthis opened #14393 "Kyma with Compass test function should be reachable through secured API Rule"
**Description**

The periodic [kyma-integration-k3d-compass-dev](https://status.build.kyma-project.io/?type=periodic&job=kyma-integration-k3d-compass-dev&state=failure)  job is constantly failing.

**Expected result**

The job is green again and we have 0 failures in last 24 hours.

**Actual result**

It failed 24 times in last 24 hours.

**Steps to reproduce**

Run the periodic kyma-integration-k

[2022-05-25 12:44] marcobebway opened #14394 "Refactor the Eventing Backend integration tests to be independent from each other"
**Description**

The integration [tests](https://github.com/kyma-project/kyma/blob/788c0206cc4202b4d6613bb5b8bc166395aa0f75/components/eventing-controller/controllers/backend/reconciler_test.go#L220) for the Eventing Backend controller are dependant on each other, which means:

- The test cases must run in a particular order to succeed.
- Debugging a single test case is not possible, which makes f

[2022-05-25 12:51] k15r opened #14395 "make jetstream the default backend (replacing NATS)"
With implementation done, and performance tests concluded we want to replace the current NATS backend with the newly developed NATS Jetstream backend.

Tasks:
- [x] Set the JetStream flag (global.jetstream.enabled) by default to true and also in both the profiles
- [x] Do not remove the NATS code
- [x] Use **file** storage as default and in the evaluation profile
- [x] Update the documentation
  -

[2022-05-25 14:26] tillknuesting commented on #14370
still happening https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/skr-aws-integration-dev/1529267334324162560

[2022-05-25 15:18] kwiatekus commented on #13698
Performance comparison shows that:

 - kubeless runtime is neglectibly faster than the proposed simple express server in the conditions the function workload has limited resource (Function preset XS)

![Screenshot 2022-05-25 at 17 11 13](https://user-images.githubusercontent.com/6783567/170297184-d27f7f11-ee15-4ebd-97dc-1ff6e08defed.png)

 For M, L and beyond (more CPU and memory resources) the pr

[2022-05-25 15:18] #13698 closed

[2022-05-25 16:32] kwiatekus commented on #14235
I used a test runtime with kyma 2.2
I have setup multiple functions. ( many of those are git functions )
I upgraded kyma to main version

After update I see that serverless-ctrl-mngr pod doesnt restart and doesnt suffer from CPU throttling that was present before upgrade.
Thats good news 👏

However I dont think I get how this label should work
https://github.com/kyma-project/kyma/pull/14251/files#

[2022-05-25 19:38] moelsayed commented on #14235
Consider the following scenario:
- You are working on a git function with a large git repo like test-infra. Before the performance optimization changes, we checked the code for changes _every time_ the function is reconciled. So, if you apply the function, and _during it's initial_ reconcile, pushed another change _before_ the function is ready, the changes will be picked immediately, and the new

[2022-05-26 07:01] tillknuesting commented on #14370
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/skr-aws-integration-dev/1529629747368169472

[2022-05-26 07:42] kasiakepka commented on #13267
Hi! See [this issue](https://github.com/kyma-project/test-infra/issues/5435), I hope it will help to solve above problem.

[2022-05-26 09:29] arturskorupa commented on #13873
@PK85 @wozniakjan @a-thaler @raypinto if you expect some change to the code to fix it the last possible date to deliver it would be 1 June in the morning.

[2022-05-26 09:34] arturskorupa commented on #13267
Hi, please remember that according to current release schedule the last possible date to deliver code fix for the current release is 1 June in the morning. Otherwise it will have impact on the schedule.

[2022-05-26 10:18] tillknuesting commented on #13415
The main goal of having fast-integration tests without service catalog has been in my view been achieved. The skr integration test e.g. skr-aws-integration-dev runs without sc. There is additional refactoring in progress e.g. removing code that is not used anymore - therefore not closed yet. I would suggest to move refactoring and cleaning up dead code to another ticket in case this blocks the rel

[2022-05-26 10:19] tillknuesting commented on #13415
related PRs to this task:

https://github.com/kyma-project/test-infra/pull/5405
https://github.com/kyma-project/kyma/pull/14399
https://github.com/kyma-project/kyma/pull/14409
https://github.com/kyma-project/kyma/pull/14410

[2022-05-26 10:30] arturskorupa commented on #13415
@tillknuesting is the test still failing ? I must see green test before OS RC release

[2022-05-26 10:35] arturskorupa commented on #13267
@k15r can you please check NATS ([issue](https://github.com/kyma-project/kyma/issues/13267#issuecomment-1137020183)
@kwiatekus please look at RAFTER
@janmedrek Commecte Mock for you ?
@strekm you already addressed ISTIO

[2022-05-26 11:49] strekm opened #14421 "[POC] expose multiple svc under same virtual host"
**Description**

Expose [httpbin](https://github.com/istio/istio/tree/master/samples/httpbin) and [helloworld](https://github.com/istio/istio/tree/master/samples/helloworld) apps provided by Istio under same virtual host. Create step by step tutorial providing example yamls.
To expose  both svc use [Istio VS](https://istio.io/latest/docs/reference/config/networking/virtual-service/) and [ORY oathk

[2022-05-26 11:55] werdes72 commented on #13267
Hi, I checked failed jobs logs and Istio installs properly in all of them (or installation is not triggered at all) except one, but the problem seems to be in connection to cluster. I will keep an eye on this.

[2022-05-26 12:58] strekm opened #14425 "[MVP] implement first version of pods analysing tool reporting pods out of Istio service mesh"
**Description**

Tool should be implemented in golang. Application should analyse pods in given cluster in all ns except kyma-system, kube-system and kyma-integration. Tool should prepare a "report" in JSON format containing all pods that are not in Istio service mesh. Each record in the report should contain pod name and namespace.

**Reasons**

Provide users tooling, which points out pods that a

[2022-05-27 07:08] tillknuesting commented on #13415
Green test has already been achieved quite some time ago. The current problems problems are not related to this task.

[2022-05-27 08:12] marcobebway commented on #13395
The job looks green, we decided to make it required.

[2022-05-27 08:23] mfaizanse commented on #13976
Currently, the provisioning stage is timing out because of KEB, investigate the issue, also check if we need to update the `overrides` version [here](https://github.com/kyma-project/kyma/blob/5385f03e6e5e2d38aa8ce4951fac7dbc85c03e40/tests/fast-integration/eventing-test/prow/config/skr_config.json#L2)?

[2022-05-27 09:09] #14235 closed

[2022-05-27 09:11] #14245 closed

[2022-05-27 09:30] mfaizanse opened #14439 "Chaos testing for Eventing with random scenarios"
Since, we are almost done with JetStream, we should some more chaos testing for Eventing with random scenarios (to find bugs like [this](https://github.com/kyma-project/kyma/issues/14371)).

Some examples:
- Delete the eventing-controller / EPP and check if the subscriptions don't lose events.
- What happens if all the replicas of nats pods crashes in production profile?
- etc.

[2022-05-27 09:39] dbadura opened #14440 "Function jobs shouldn't request resources by default"
**Description**
In current implementation by default we enforce build profile.

**Expected result**
By default the build profiles are not applied.

**Actual result**
Having those values set as default, that:
- function deployment request 500m cpu
- function build job request 1000m cpu
let's consider following situation:
User creates 3 function on node with 2000cpu available:
- first job requires 1

[2022-05-27 09:41] wozniakjan commented on #13415
shouldn't be relase blocker for 2.3, svcat is getting purged in 2.4

[2022-05-27 10:21] ammarlakis commented on #13225
After discussions with several developers, we ended up with the following conclusion;
1. Developers prefer explicitly updates and tests and keeping the git branch reflection of truth.
2. We are using forks not branches, so we can't push changes.
This leaves us with only one approach for pre-jobs that is a guard that checks whether an image was update in `values.yaml` files or not, and notifies the

[2022-05-27 10:48] arturskorupa commented on #13267
@werdes72 then is it a blocker or not ?

[2022-05-27 11:08] #14129 closed

[2022-05-27 11:17] #13825 closed

[2022-05-27 12:16] werdes72 commented on #13267
@arturskorupa No, I don't think so.

[2022-05-27 12:42] koala7659 commented on #13873
I think it should not be a release blocker. In our team we have recently spent a lot of time fixing and debugging these tests. We consider them are rather reliable and we got repeatable results during the whole last week. However there are some issues that we should be aware of:

1) Commerce Mock Fast Integration Tests are executed on different jobs and on different environments. Some of them are

[2022-05-27 12:48] arturskorupa commented on #13267
I remove blocker label then. Thanks.

[2022-05-27 12:54] arturskorupa commented on #13267
I need to restore release blocker label -> there are still other parts to check:
@k15r can you please check NATS (https://github.com/kyma-project/kyma/issues/13267#issuecomment-1137020183)
@kwiatekus please look at RAFTER
@koala7659 maybe the same issue as here-> #13873

[2022-05-27 13:11] arturskorupa commented on #13718
Awaiting migration script to be tested on DEV (PR https://github.com/kyma-project/kyma/pull/14413)

[2022-05-27 13:14] Disper commented on #13267
@arturskorupa regarding rafter failure - I would suggest to accept this aspect, as we're waiting to be unblocked with [finishing rafter removal](https://github.com/kyma-project/kyma/issues/13155).

[2022-05-27 13:17] #9585 closed

[2022-05-27 13:27] kwiatekus opened #14444 "Worker reconciling Rafter occasionally fails with context deadline timeout"
**Description**

See occurences:
 - https://storage.googleapis.com/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-to-main-reconciler-main/1528707388486455296/build-log.txt
 - https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/14334/pre-main-kyma-gardener-azure-alpha-prod/1531219067166265344/build-log.txt
**Expected result**

Worker installing/updating rafter deployment s

[2022-05-27 13:30] kwiatekus commented on #14444
We are removing rafter in 2.4
https://github.com/kyma-project/kyma/issues/13155

Hence we'd rather speed up rafter removal than fix the test flakiness

[2022-05-27 13:30] kwiatekus commented on #13267
@arturskorupa I agree with @Disper
@tobiscr Excluded to a separate issue
https://github.com/kyma-project/kyma/issues/14444#issuecomment-1139621703

[2022-05-27 14:07] arturskorupa commented on #13267
Current status:
@k15r can you please check NATS (https://github.com/kyma-project/kyma/issues/13267#issuecomment-1137020183
@koala7659  Commecte Mock for you ?

[2022-05-27 14:40] marcobebway commented on #13267
Investigating this on a gardener cluster is not possible because of:

- Gardener causes provisioning timeouts https://github.com/kyma-project/kyma/issues/13267#issuecomment-1137020183

[2022-05-27 14:41] marcobebway commented on #13267
@kasiakepka when do you think the fix will be merged?

[2022-05-27 14:45] koala7659 commented on #13267
I believe we should remove `release-blocker` label from that issue and leave only `failing-test`. CommerceMock tests are quite reliable at the moment after latests updates. There are some problem with external systems dependency that should be investigated as @tobiscr mentioned, but this should not stop release.

[2022-05-30 06:26] mareknawa commented on #13267
Thanks for the info @koala7659. I drop the release-blocker label then.

[2022-05-30 07:00] mareknawa commented on #13267
I've added "release blocker" back because of NATS part.
@marcobebway, I've just talked to @Halamix2 and he is checking with @kasiakepka whether they can switch to Gardener Production this flaky pipeline. They will update us soon.

[2022-05-30 07:18] kasiakepka commented on #13267
Hi, Unfortunately we are stuck on approval process and it is not possible to implement it today.

[2022-05-30 07:27] a-thaler commented on #14141
Please generate a default value for the match expression if not specified.
Please support custom suffixes in the match expression, only verify the prefix

[2022-05-30 07:49] k15r opened #14451 "HA Evaluation of Jetstream"
Followup to #14111
In order to fulfil the HA requirements of kyma we need to test the following scenario:
- NATS Jetstream cluster must be configured with proper POD Antiaffinity Rules (Spread across as many nodes as possible)
- bringing down one node (k8s cluster node) must not disrupt event publishing / dispatching workflow

[2022-05-30 08:21] #14338 closed

[2022-05-30 09:02] mareknawa commented on #13718
@akgalwas what is the current status with the script? The issue is release blocker and we need it fixed ASAP if we want to release today.

[2022-05-30 09:58] marcobebway commented on #13267
The prow job script is using two different Kyma CLI versions:

- https://github.com/kyma-project/test-infra/blob/06ea44a721d37a229c99e17fd9a325ea5ecd0012/prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh#L99

- https://github.com/kyma-project/test-infra/blob/06ea44a721d37a229c99e17fd9a325ea5ecd0012/prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh#L122

[2022-05-30 10:11] mareknawa commented on #13267
As agreed on PO call, I remove the "release 2.3 blocker" label from the issue. We don't have to fix it with the super urgency for 2.3 release but don't abandon the issue, please. We need to fix it because the test is unstable for long time.

[2022-05-30 12:52] a-thaler opened #14459 "[Telemetry Operator] Limit amount of pipelines"
**Description**
The telemetry-operator is not managing yet the fluent-bit daemonset itself. With that the resource limits are hardcoded and a concept for scaling on base of amount of pipelines is still missing.
For now, the amount of pipelines which the daemonset can handle is limited (see https://github.com/kyma-project/kyma/issues/13144). So the operator should limit the amount to avoid instable

[2022-05-30 12:57] a-thaler opened #14460 "[Telemetry Operator] Finalize fluent-bit exporter"
**Description**
In PR https://github.com/kyma-project/kyma/pull/14347 a first version of a sidecar was created, which is watching the filesystem of fluent bit and is exporting relevant metrics incl grafana panels. That sidecar needs to be finalized so that it can be included in the next release.

Another idea is to also watch the source folder of the container logs.

**Criterias**
- Verify low CPU

[2022-05-30 13:16] cnvergence commented on #11686
PRs to jaeger-operator were merged and released with 1.34.0, but we are blocked by this issue
- https://github.com/jaegertracing/helm-charts/issues/351

[2022-06-01 07:45] #13718 closed

[2022-06-01 07:46] marcobebway commented on #13267
# Investigation

- I ran the job multiple times to reproduce the NATS issue using this [PR](https://github.com/kyma-project/test-infra/pull/5489).
- The failed **14** times out of **23** runs.
- I could not reproduce the NATS issue.

# Job [run](https://status.build.kyma-project.io/?job=marcobebway_test_of_prowjob_kyma-upgrade-gardener-kyma2-to-main) summary

## Provisioning errors from Gardener `

[2022-06-01 07:48] marcobebway commented on #13267
# Investigation

- I ran the job multiple times to reproduce the NATS issue using this [PR](https://github.com/kyma-project/test-infra/pull/5489).
- The job failed **14** times out of **23** runs.
- I could not reproduce the NATS issue.

# Job [run](https://status.build.kyma-project.io/?job=marcobebway_test_of_prowjob_kyma-upgrade-gardener-kyma2-to-main) summary

## Provisioning errors from Garden

[2022-06-01 08:00] kwiatekus commented on #14440
function build job cannot start in an over-commited CPU environment.
The following shows the scenario: CPU utilisation is really low ( ~14%) but CPU commitment is ~100%

![Screenshot 2022-06-01 at 09 57 39](https://user-images.githubusercontent.com/6783567/171356532-3f2639ba-1403-4051-bdab-533404b9b2cb.png)

We should lower the overcommitment of CPU for kyma components

[2022-06-01 08:13] kwiatekus commented on #14444
It might be because CPU utilisation is overcommited in the test setup.
( rafter is installed last - might not have enough space to schedule pods )

[2022-06-01 10:11] #14384 closed

[2022-06-01 10:54] kwiatekus commented on #11155
@dbadura when I create a function via CLI the `app.kubernetes.io/name={name}` is not created
It is so when creating function via ui.
Please add this as well

[2022-06-01 11:39] kwiatekus commented on #14440
We should
 - delete the min and max values for the requested CPU time for function builds
 - analyse the actual CPU utilisation (% of the requested CPU time ) for kyma components that sit on most of the requested CPU
 - propose a PR with adjusted requested CPU time for kyma components

[2022-06-01 11:53] #14141 closed

[2022-06-02 05:48] strekm opened #14473 "describe api-gateway component tests with gherkin"
**Description**

Analyse and describe with gherkin existing tests implemented in `tests/components/api-gateway`.

ACs:
- [x] gherkin file created
- [x] all test cases described with gherkin
- [x] split main test into separate tests to make execution in parallel
- [x] adjust pipeline to use makefile
- [x] adjust pipeline to generate report same way as in istio component tests

[2022-06-02 05:58] strekm opened #14474 "evaluation of Istio 1.14"
**Description**

Prepare gardener cluster with Istio 1.14 installation and execute manual tests. Prepare gardener cluster with latest kyma main and upgrade istio to 1.14. Execute manual tests. Share cluster with other teams to evaluate integration with other kyma components. Check patching webhook correctness  and proxy reset job. Check grafana dashboard changes. Production profile should be use i

[2022-06-02 07:36] mfaizanse opened #14475 "NATS JetStream rejects new messages if storage is full"
**Description**

When the stream file storage is full, then Jetstream is failing to receive new events, even thought the stream `Discard Policy` is set to `Old`.

**Expected result**

JetStream should remove the old messages and then receive and store the new messages when the storage is full.

**Actual result**

JetStream is failing to receive and store the new messages when the storage is full.

[2022-06-02 08:38] mfaizanse commented on #14475
Info:
[code]

[2022-06-02 08:39] Disper commented on #14393
There is an issue on the compass side that is being tracked on some internal compass tooling that will not link here. If anyone is interested in more information, please reach either me or @franpog859.

[2022-06-02 10:49] mfaizanse commented on #14111
Production Profile:
![image](https://user-images.githubusercontent.com/9897945/171613742-5b11ad5b-80ae-4eed-8ab8-ad73ef7a7e35.png)

[2022-06-02 11:15] Ressetkk opened #14478 "Remove `license-puller.sh` step from component Makefiles and Dockerfiles"
Since we don't use Google Marketplace and console-backend-service [is removed](https://github.com/kyma-project/kyma/pull/12306) pulling licenses to the docker image is no longer required. It was required because[ Google Marketplace couldn't find licenses for CBS](https://github.com/kyma-project/kyma/issues/5762).

Since we don't use this we should remove this step from component images.

/area ci

[2022-06-02 12:34] #11437 closed

[2022-06-02 12:35] #12563 closed

[2022-06-02 13:02] k15r commented on #13797
One important thing to know about the current state of the subscription is, that it was modelled based on the EventMesh subscription definition. If do not expose that one to the customer, but just use it internally for subscriptions on EventMesh we can change our subscription crd:
[code]

Obviously not all backends will support the external Source (eg Nats Jetstream)

[2022-06-02 13:18] lindnerby commented on #14243
After testing with a new metric to visualize the buffer size and showing it with fluentbit's node footprint panels, it seems the increasing und decreasing buffer size and high load of logs affect the CPU and Memory consumption. Consumption of both go up but remain constant after a certain point.

![Screenshot 2022-06-02 at 15 11 14](https://user-images.githubusercontent.com/50365642/171637923-77cd

[2022-06-02 13:24] kwiatekus opened #14484 "Schedule build job with exponential back-off"
**Description**

Schedule build jobs with k8s exponential backoff.

**Reason**
A failed build job is rescheduled after 5 minutes. We should schedule those jobs  with exponential back-off mechanism so that in case there are bad conditions on the cluster ( i.e CPU time shortage ), those builds can be re-tried.

[2022-06-02 14:00] mfaizanse commented on #14439
Will be covered in https://github.com/kyma-project/kyma/issues/14111

[2022-06-02 14:39] mfaizanse commented on #14111
Eventing controller reaches the CPU limit (500m) on 100 events/sec. (Same for NATS with JetStream disabled)

[2022-06-03 06:22] TorstenD-SAP commented on #14309
@a-thaler, @rakesh-garimella: Does it makes sense/is it possible to add some kind of warning somewhere that the usage of unsupported plugins can harm the system?

[2022-06-03 06:47] #14266 closed

[2022-06-03 06:48] #14064 closed

[2022-06-03 10:23] mfaizanse commented on #14475
Also, retention policy in Production profile is shown as `Retention: File - Limits` and in evaluation profile its shown as `Retention: File - Interest`. Why its different in both profiles?

[2022-06-03 11:28] nachtmaar commented on #13797
@k15r I did just read the story and came across the [original story](https://github.com/kyma-project/kyma/issues/11683). I found these todos in the ticket which were quite helpful for me:

- [ ]  document subscribing to events from applications directly connected to ems (eg. `sap.c4c.foo.created.v1`)
- [ ] rethink automatic type generation approach
- [ ] create a proposal for a more flexible solut

[2022-06-03 11:30] nachtmaar commented on #13797
@k15r

What do you mean by this ? That I cannot send events to Event Mesh and consume them with the Jetstream backend ? 🤔

[2022-06-03 11:45] rakesh-garimella commented on #14309
The unsupported plugins is more like (untested plugins), we can may be give a warning message when they enable the flag in the CR.

[2022-06-03 11:53] strekm opened #14488 "Update istio component chart to 1.14.x"
**Description**

Implement necessary changes in istio component chart to install / upgrade istio to version 1.14.x.

- [x] istio running on 1.14.x version
- [x] sidecars running on 1.14.x version
- [x] istioctl 1.14.x is used to install / upgrade istio
- [x] istio and istio-resources charts updated
- [x] update grafana dashboards if needed

**Reasons**

Keeping Istio up to date

**Attachments**
ht

[2022-06-03 11:56] strekm opened #14489 "run manual tests after upgrade for istio 1.14.x"
**Description**
Verify the correctness of Istio deployment and upgrade in 1.14.x by running manual tests.

**Reasons**

Istio bump in kyma

**Attachments**
https://github.com/kyma-project/kyma/issues/14490

[2022-06-03 12:03] strekm opened #14490 "Istio 1.14.x bump"
**Description**

Upgrade Istio to 1.13.x.

AC:

- [x] [provision test clusters](https://github.com/kyma-project/kyma/issues/14474)
- [x] [new image available in Kyma external repository](https://github.com/kyma-project/test-infra/issues/5531)
- [x] [istio component chart updated to version 1.14.x](https://github.com/kyma-project/kyma/issues/14488)
- [x] [istio reconciler uses istioctl 1.14.x to in

[2022-06-04 05:23] krishnaarava opened #14494 "Kyma 2.x with istio-1.13.2 does not install on Mac M1"
**Description**
One of the components installed by Kyma is Istio, which should install on Mac M1.

**Expected result**

Kyma 2.x with Istio 1.13.2 installs on Mac M1.

**Actual result**

Kyma 2.x with Istio 1.13.2 does not install on Mac M1.

**Steps to reproduce**

Install Kyma 2 using homebrew  that offers Istio 1.13.2 (use Kyma CLI)

[code]

[2022-06-06 09:45] tillknuesting opened #14495 "skr-aws-integration-dev provisioning failed: Error calling Director API: 422 Unprocessable Entity"
https://storage.googleapis.com/kyma-prow-logs/logs/skr-aws-integration-dev/1533615976401080320/build-log.txt

[code]

[2022-06-07 07:42] VOID404 commented on #13977
Gateway Tests PR: [#1450](https://github.com/kyma-project/kyma/pull/14504)

[2022-06-07 08:25] #14478 closed

[2022-06-07 08:41] chrkl opened #14505 "Node-exporter failed to start"
**Description**

User tied to deploy Kyma on k3d (Ubuntu 20.04)

[code]

Deploying the `monitoring` component failed. The node-exporter pods failed to start due to the following issue:

[code]

[2022-06-07 08:51] chrkl commented on #14505
Maybe related: https://github.com/prometheus-community/helm-charts/issues/467

[2022-06-07 09:15] akgalwas commented on #13977
The following requirements were defined for the test project structure:
- It will be added here: https://github.com/kyma-project/kyma/tree/main/tests/components
- There will be separate subfolder for each test-suite
- There will be separate image built for each test-suite
- Each test-suite subfolder will contain all the manifests and code needed by the testsuite

[2022-06-07 09:49] #14308 closed

[2022-06-07 09:49] #13144 closed

[2022-06-07 10:16] jeremyharisch opened #14506 "Pre-Main-Control-Plane Pipelines: Failing frequently due to cluster not found"
**Description**
Following Pre-Main-Control-Plane Pipelines are failing on some runs due to Gardener problems:
- pre-main-control-plane-reconciler-e2e-latest-release
- pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener
-
[code]

https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-control-plane-reconciler-e2e-latest-release
https://statu

[2022-06-07 10:35] akgalwas commented on #13977
Authorisation methods supported by Application Gateway:
- no authorisation
- Basic Auth
- OAuth (grant client credentials flow)
- OAuth protected with mTLS (please ee #14401)
- mTLS
- csrf
  - no authorisation
  - Basic Auth
  -  OAuth (grant client credentials flow)
  - OAuth protected with mTLS
  - mTLS

[2022-06-07 10:52] akgalwas commented on #13977
Work plan:
- [ ] 1. Prepare and merge initial PR with test project structure (#1450)
- [ ] 2. Prepare initial structure of test app and merge it into test project structure. Use the minimal
- [ ] 3. Implement pipeline for testing Application Gateway
- [ ] 4. Implement supported authentication methods in test application
- [ ] 5. Implement all test-cases in Application Gateway test-suite
- [ ] 6. P

[2022-06-07 13:07] raypinto commented on #13976
The provisioning issue was fixed by updating the `overrides` version. This issue is currently blocked by the following error:
[code]
which is a known issue. We will revisit this once the issue is resolved.

[2022-06-07 13:44] mfaizanse commented on #14111
The performance of JetStream is similar to Simple NATS on Production profile, so no need to tweak the resource limits.

![image](https://user-images.githubusercontent.com/9897945/172395632-2ea55f86-de99-41d5-a48b-ce8198255791.png)

[2022-06-07 14:15] mfaizanse commented on #14111
PR: https://github.com/kyma-project/community/pull/677

[2022-06-07 15:40] raypinto opened #14516 "Expose JetStream configurations per subscription"
**Description**

At the moment, JetStream configurations like `stream retention policy`, `consumer deliver policy` are set at the time of kyma installation. It would be more flexible if these configurations could be set or modified per subscription.

**Reasons**

For a particular subscription, if the user wants to receive all the messages that were already sent for a particular eventType, before c

[2022-06-08 06:56] tillknuesting commented on #14495
[code]
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/skr-aws-integration-dev/1534340920911073280

[2022-06-08 07:00] rakesh-garimella commented on #14243
The results look fine here one thing needs to be considered is the calculation of filesystem buffer needs to be improved (here the buffer used is more than that of the limit set). The value should be sum of filesystem buffer limits of all the pipelines. Or the sum of allocation of buffer limits of all the pipelines should not exceed the max buffer limit

[2022-06-08 07:05] werdes72 commented on #14494
Hello, did you use istioctl built for ARM?

[2022-06-08 07:57] raypinto opened #14518 "Cleanup core NATS after JetStream is in prod"
**Description**

Once JetStream is in production, the pure NATS controller source code would need to be cleaned up.

**Reasons**

To avoid maintenance of outdated source code.

**Tasks**

- [ ] Remove core NATS controller
- [ ] Remove the flag `enableJetStream` from the controller and the EPP deployment.

[2022-06-08 08:15] mfaizanse commented on #14451
[code]

[2022-06-08 11:19] johgoe opened #14521 "Subscription duplicates Content-Type on Cloud Event retry"
**Description**

We are using kyma 2.2 with a nats backend. Sometimes it happens that a event could not handled by the the subscription sink service which results in an http error e.g. status 500.

We saw that the event will be delivered automatically after a some time but on the second try the content-type of the event is `application/json,application/json`. On the 3rd try the content-type header

[2022-06-08 11:39] koala7659 opened #14522 "Application Gateway does not validate TLS certificate while fetching OAauth token for accessing remote API"
There is a code in Application Gateway/Central Application Gateway that fetches OAuth token from endpoint defined as `authenticationUrl` in Service Definition in Application CR.
This token is used later to authenticate a call to the API endpoint exposed by a remote system registered in Kyma.

This code is located in the file `components/central-application-gateway/pkg/authorization/oauth/oauthclie

[2022-06-08 14:03] valvolt commented on #14505
I solved this by using the docker.io version of docker instead of the one coming with snap:

[code]

[2022-06-08 14:07] #14505 closed

[2022-06-09 07:39] pPrecel opened #14532 "Move serverless functions labels/continuousGitCheckout to annotations"
**Description**

Right now `function-controller` supports disabling git source checking for a specific function by adding a label to it. Problem is that such logic should be based on annotations, not labels.

 - [x] Move the `serverless.kyma-project.io/continuousGitCheckout` label to annotations.

**Reasons**

Such logic should be based on annotations, not labels.

**Attachments**

https://blog.ge

[2022-06-09 08:11] #14495 closed

[2022-06-09 08:13] mfaizanse commented on #14451
Why `eventing-nats-1` and `eventing-nats-2` on same node despite of anti-afinity?
![image](https://user-images.githubusercontent.com/9897945/172798518-434ee083-3e67-485b-9b98-9aa84ad8496a.png)

[2022-06-09 08:21] raypinto commented on #13976
[The pipeline](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-kyma-skr-eventing) is almost green now! Sometimes there are issues with provisioning, where its takes longer to provision an skr instance and times out.

[2022-06-09 08:21] #13976 closed

[2022-06-09 08:41] kasiakepka opened #14533 "clusterservicebrokers CRD error"
**Description**

 Gardener shoots failed to be deleted due to a CRD error:

[code]

I checked the CRD and I see following error
[code]

[2022-06-09 08:42] kasiakepka commented on #14533
@kyma-project/gopher Can you please look at it?
It is related to https://github.com/kyma-project/kyma/issues/13855#issuecomment-1124734453

[2022-06-09 10:41] mfaizanse commented on #14451
If the stream leader NATS pod is deleted then NATS stops accepting messages for that stream until a new leader is elected. Therefore, EPP fails to publish messages until a new leader is elected.

[2022-06-09 11:09] franpog859 commented on #14393
The `Error when updating label definition with key scenarios: Error: Error calling Director API: 422 Unprocessable Entity Error` problem I was working on is fixed now. I'm unassigning myself from this issue for now, @Sawthis

[2022-06-09 11:23] Disper commented on #14393
Pasting additional info that @franpog859 added [on Slack](https://sap-btp.slack.com/archives/C01CKAN1SKV/p1654773464760579?thread_ts=1653374542.850379&cid=C01CKAN1SKV):

[code]
I will edit the title to reflect the current problem.

[2022-06-09 11:51] kwiatekus commented on #13599
Not a problem anymore after #14067

[2022-06-09 11:51] #13599 closed

[2022-06-09 12:01] jeremyharisch opened #14537 "Pre-Main-Control-Plaine Pipelines are failing due to Git, tmp files, and Proxy errors"
**Description**
The following pipelines are failing due to several reason frequently:
- [pre-main-control-plane-reconciler-e2e-latest-release](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-control-plane-reconciler-e2e-latest-release)
- [pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener](https://status.build.kyma-project.io/job-h

[2022-06-09 12:16] jeremyharisch opened #14538 "Commerce-Mock-/Helm-Fixture not ready + kubeClient failed to update AuthorizationPolicy/Gateway/DestinationPolicy"
**Description**
The following pipelines are failing due to several reasons:
- [kyma-upgrade-gardener-kyma2-to-main-reconciler-main](https://status.build.kyma-project.io/?job=kyma-upgrade-gardener-kyma2-to-main-reconciler-main)
- [kyma-upgrade-gardener-kyma2-minor-versions](https://status.build.kyma-project.io/?job=kyma-upgrade-gardener-kyma2-minor-versions)

The main reasons, which are appearing s

[2022-06-09 13:25] Disper commented on #14393
As the function is not reachable and api gateway exposes it (thx @nachtmaar for help with narrowing the issue down), can it be something that @wookiee or @goat would be able to know more about?

[2022-06-09 13:56] mfaizanse opened #14540 "Unsubscribe invalid subscribers before binding new subscriber to consumer [JetStream]"
Currently, in the [`bindConsumersForInvalidNATSSubscriptions`](https://github.com/kyma-project/kyma/blob/0d398da15649c744f80b11b85b48a1dd8aca871b/components/eventing-controller/pkg/handlers/jetstream.go#L354) method, we are checking if the subscriber is invalid, then we are creating a new subscriber and binding it to the existing consumer.

Preferably, we should be first removing the invalid subsc

[2022-06-09 14:09] kwiatekus opened #14541 "Control rebuilding of new revision for multiple functions in multirepo"
**Description**

Investigate how we can skip  rebuilding of a git sourced function for unrelevant changes in the new revisions

**Reason**

A kind of annoying problem with the git repo based functions. For any given repo base directory path any modification/commit even unrelated to a given function source code will trigger the re-build of all functions that are on the base directory path.  For ins

[2022-06-09 15:32] a-thaler commented on #11236
The documentation is making good progress as well. If you are interested in a pre-read, look here: https://deploy-preview-14063--kyma-project-docs-preview.netlify.app/docs/kyma/preview/01-overview/main-areas/observability/obsv-04-telemetry-in-kyma/ That is not covering the discussed API additions of above comment

[2022-06-09 15:43] nachtmaar commented on #13797
### Result from last grooming discussion

We discussed that we want to write a proposal first before jumping into any implementation since this needs some 🧠 power. Since it is hard to describe what the outcome of the proposal is we had the idea that the proposal shall provide us answers to questions and we just need to come up with the questions:

### Here are some questions which came to my mind:

[2022-06-09 18:52] rakesh-garimella commented on #14309
- `enableUnsupported` flag has been introduced. When set to `true` users can use unsupported/untested plugins
- When the above flag is enabled users are also presented with warning
- Printer column has been added to show the status of the flag
- A new metric `EnableUnsupportedPlugin` has been introduced to show the status of the flag

[2022-06-09 18:52] #14309 closed

[2022-06-10 07:43] tillknuesting opened #14546 "pre-kyma-tests-components-application-connector pipelines fails"
[PRs](https://github.com/kyma-project/kyma/pull/14470) are not able to merges as the test `pre-kyma-tests-components-application-connector` fails

https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/14470/pre-kyma-tests-components-application-connector/1535146713956749312

[code]

[2022-06-10 08:29] koala7659 commented on #14546
Created PR with revert of the PR that have broken test pipelines https://github.com/kyma-project/test-infra/pull/5561

[2022-06-10 09:10] ralikio commented on #14546
Working again. Thanks!

[2022-06-10 09:10] #14546 closed

[2022-06-10 09:16] purplehaze commented on #14357
Great to see movement in right sap->kyma-java direction :)

[2022-06-10 09:56] nachtmaar commented on #13395
@marcobebway are all the acceptance criteria implemented ? Can you please check the boxes ?

[2022-06-10 11:00] FriedrichWilken commented on #14521
Thank you @johgoe we will look into this.

[2022-06-10 11:40] #14243 closed

[2022-06-10 12:03] nachtmaar commented on #13797
More questions:
- [ ] in case we want to remove event-mesh related data from subscription CRD to source code. how can this be achieved ?

[2022-06-10 12:07] nachtmaar opened #14552 "Proposal for refactoring eventing subscription CRD filters"
### Context

We discussed in this [epic](https://github.com/kyma-project/kyma/issues/13797) that we want to write a proposal first before jumping into any implementation since this needs some 🧠 power. Since it is hard to describe what the outcome of the proposal is we had the idea that the proposal shall provide us answers to questions and we just need to come up with the questions:

### These que

[2022-06-10 14:20] a-thaler opened #14554 "[Telemetry Operator] Extract parsers into dedicated CRD"
**Description**
As outlined in https://github.com/kyma-project/community/pull/675 the parsers a re central configuration element and should not be defined per pipeline. Instead they should be defined in an individual CRD.

[code]

**Criteria**
- Have a dedicated CRD for parsers
- No parsers or multilineParser section in LogPipeline anymore
- When defining a parser in the CRD, the user can referenc

[2022-06-10 14:20] a-thaler opened #14555 "[Telemetry Operator] Support a single output only"
**Description**
With https://github.com/kyma-project/community/pull/675 we agreed to have only a single output per `LogPipeline`.

[code]

**Criterias**
- Only one output can be specified (no array anymore)
- Specifying no output should fail validation
- Examples are adjusted

[2022-06-10 14:21] a-thaler opened #14556 "[Telemetry Operator] Rename filters and outputs to custom and respect them for unsupported mode"
**Description**
The user can provide custom filters and outputs by using the "content" attribute. With https://github.com/kyma-project/community/pull/675 we agreed to use the attribute "custom" to provide a filter or output in native fluentbit syntax having all filter settings available.

Furthermore, entering the "unsupported" mode will not be indicated by a dedicate flag anymore. Instead the mod

[2022-06-10 14:21] a-thaler opened #14557 "[Telemetry Operator] Add http output with minimal attribute set"
**Description**
Introduce an output definition for pushing logs using the http output plugin, also see https://github.com/kyma-project/community/pull/675/files. Settings for a typical OpenSearch integration are needed:
- host - value and valueFrom support needed
- http_User - value and valueFrom support needed
- http_Passwd  - value and valueFrom support needed
- uri: value

All other values need

[2022-06-10 14:22] a-thaler opened #14558 "[Telemetry Operator] Refactor secretRefs"
**Description**
As outlined in https://github.com/kyma-project/community/pull/675 the secretRefs attribute needs to be transformed into a "variables" attribute. Hereby, an explicit key mapping is required by design.

The minimal scope should cover that API:
[code]

**Criterias**
- API is formulated as proposed
- User can provide secrets to a custom plugin config
- variables names must be global un

[2022-06-10 14:22] a-thaler opened #14559 "[Telemetry Operator] Validate and default filesystem buffer limits"
**Description**
After a recommended filesystem buffer size is determined (https://github.com/kyma-project/kyma/issues/13833) the operator need to assure that the output configs of the pipelines do not exceed the maximum buffer size.
The operator should generate a default setting (calculated out of the maximum) if no setting is provided and it should validate that a custom setting in combination wi

[2022-06-10 14:23] a-thaler opened #14560 "[Telemetry Operator] add loki output plugin"
**Description**
In order to have loki integrated by default, the loki output needs to be supported by default, see also https://github.com/kyma-project/community/pull/675/files. For that a new output definition needs to be added with a minimal attribute set

[code]

**Criterias**
- a new output is available for configuration
- all attributes are covered which are needed for the typical kyma integr

[2022-06-10 14:24] a-thaler opened #14561 "[Telemetry Operator] add filter for including/excluding logs based on attributes"
**Description**

Users need a way to filter logs in regards to concrete values in the payload, like filtering for logs belonging to a specific tenant.
According to https://github.com/kyma-project/community/pull/675/files a new filter is needed which allows to include or exclude logs, translating to a "grep" filter definition.

The syntax for the keys should support simple attribute selection but a

[2022-06-10 14:25] a-thaler opened #14562 "[Telemetry Operator] Match expression only for own pipeline"
**Description**
The operator supports custom filters and outputs with match expressions refering to other pipelines.
With https://github.com/kyma-project/community/pull/675/files that is obsolete and should be declined.

**Criterias**
- Custom filters and outputs cannot define a match expression, validation fails
- The match expression gets generated always with the expression for the respective p